#fifth-message-first-background {
    position: relative;
    padding-top: 41%;
    margin-left: 30%;
    background-image: url(../images/background-fifth-first.png);
    background-repeat: no-repeat;
    background-size: 70% 100%;
}
#fifth-message-second-background {
    position: relative;
    padding-top: 20%;
    margin-left: 34%;
    margin-top: 25%;
    background-image: url(../images/background-fifth-second.png);
    background-repeat: no-repeat;
    background-size: 57% 100%;
}
#fifth-message-second-image{
    width: 67%;
    padding-top: 38%;
    background-image: url(../images/group-trash-trucks.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 45%;
    right: 38%;
}
.fifth-message-bottle {
    padding: 10%;
    background-image: url(../images/bottle.png);
    background-repeat: no-repeat;
    background-size: 13% 36%;
}
.fifth-bottle-1 {
    bottom: 35%;
    left: 5.1%;
}
.fifth-bottle-2 {
    bottom: 35%;
    left: 7.5%;
}
.fifth-bottle-3 {
    bottom: 35%;
    left: 9.9%;
}
.fifth-bottle-4 {
    bottom: 35%;
    left: 12.3%;
}
#fifth-message-text-1 {
    left: 15%;
    bottom: 55%;
    font-weight: bold;
    font-size: 270%;
    color: #292e6e;
}
#fifth-message-text-2 {
    left: 6%;
    bottom: 42%;
    font-weight: bold;
    font-size: 377%;
    color: #292e6e;
}
#fifth-message-text-3 {
    left: 7%;
    bottom: 28%;
    font-weight: bold;
    font-size: 181%;
    color: #292e6e;
}
#fifth-message-text-4 {
    bottom: 176%;
    left: 1%;
    font-family: avenir;
    font-weight: bold;
    font-size: 294%;
    color: #292e6e;
}
#fifth-message-text-5 {
    left: 1%;
    bottom: 30%;
    font-weight: bold;
    font-size: 237%;
    color: #292e6e;
}
#fifth-message-text-6 {
    left: 1%;
    bottom: 10%;
    font-size: 288%;
    color: #292e6e;
}
.content-fifth-facebook-first{
    position: absolute !important;
    bottom: 8%;
    left: 25%;
}
.content-fifth-twitter-first{
    position: absolute !important;
    bottom: 8%;
    left: 32%;
}
.content-fifth-facebook-second{
    position: absolute !important;
    top: 100%;
    left: 22%;
}
.content-fifth-twitter-second{
    position: absolute !important;
    top: 100%;
    left: 29%;
}
@media only screen and (min-device-width: 1920px) {
    #fifth-message-second-image{
        width: 64%;
        padding-top: 39%;
        bottom: 47%;
        right: 40%;
    }
    #fifth-message-text-1 {
        font-size: 391%;
        left: 15%;
    }
    #fifth-message-text-2 {
        font-size: 511%;
        bottom: 43%;
        left: 6%;
    }
    #fifth-message-text-3 {
        font-size: 277%;
        bottom: 27%;
    }
    #fifth-message-text-4 {
        font-size: 393%;
        bottom: 173%;
        left: 2%;
    }
    #fifth-message-text-5 {
        font-size: 338%;
    }
    #fifth-message-text-6 {
        font-size: 404%;
        bottom: 11%;
    }
    .fifth-bottle-1 {
        bottom: 35%;
        left: 5.1%;
    }
    .fifth-bottle-2 {
        bottom: 35%;
        left: 7.5%;
    }
    .fifth-bottle-3 {
        bottom: 35%;
        left: 9.9%;
    }
    .fifth-bottle-4 {
        bottom: 35%;
        left: 12.3%;
    }
    .content-fifth-facebook-first{
        top: 84%;
        left: 29%;
    }
    .content-fifth-twitter-first{
        top: 84%;
        left: 34%;
    }
    .content-fifth-facebook-second{
        top: 100%;
        left: 24%;
    }
    .content-fifth-twitter-second{
        top: 100%;
        left: 30%;
    }
}
@media only screen and (max-device-width: 768px){
    #fifth-message-first-background {
        padding-top: 60%;
        width: 82%;
        margin-left: 14%;
        background-size: 93% 100%;
    }
    #fifth-message-second-background {
        padding-top: 27%;
        margin-left: 30%;
        margin-top: 49%;
        background-size: 67% 100%;
    }
    #fifth-message-second-image{
        width: 76%;
        padding-top: 45%;
        bottom: 47%;
        right: 28%;
    }
    #fifth-message-text-1 {
        font-size: 325%;
        left: 20%;
    }
    #fifth-message-text-2 {
        font-size: 366%;
        bottom: 42%;
        left: 7%;
    }
    #fifth-message-text-3 {
        font-size: 277%;
        bottom: 19%;
    }
    #fifth-message-text-4 {
        font-size: 215%;
        bottom: 168%;
        left: 2%;
    }
    #fifth-message-text-5 {
        font-size: 170%;
    }
    #fifth-message-text-6 {
        font-size: 205%;
        bottom: 11%;
    }
    .fifth-bottle-1 {
        bottom: 40%;
        left: 7.1%;
    }
    .fifth-bottle-2 {
        bottom: 40%;
        left: 9.5%;
    }
    .fifth-bottle-3 {
        bottom: 40%;
        left: 11.9%;
    }
    .fifth-bottle-4 {
        bottom: 40%;
        left: 14.3%;
    }
    .content-fifth-facebook-first{
        top: 85%;
        left: 38%;
    }
    .content-fifth-twitter-first{
        top: 85%;
        left: 47%;
    }
    .content-fifth-facebook-second{
        top: 100%;
        left: 23%;
    }
    .content-fifth-twitter-second{
        top: 100%;
        left: 33%;
    }
}
@media only screen and (max-device-width : 435px) {
    #fifth-message-first-background {
            padding-top: 60%;
            width: 82%;
            margin-left: 14%;
            margin-top: 25%;
            background-size: 91% 100%;
    }
    #fifth-message-second-background {
        padding-top: 27%;
        margin-left: 27%;
        margin-top: 25%;
        background-size: 64% 100%;
    }
    #fifth-message-second-image{
        width: 76%;
        padding-top: 45%;
        bottom: 45%;
        right: 31%;
    }
    #fifth-message-text-1 {
        font-size: 179%;
        left: 20%;
    }
    #fifth-message-text-2 {
        font-size: 217%;
        bottom: 41%;
    }
    #fifth-message-text-3 {
        font-size: 153%;
        bottom: 19%;
    }
    #fifth-message-text-4 {
        font-size: 116%;
    }
    #fifth-message-text-5 {
        font-size: 103%;
    }
    #fifth-message-text-6 {
        font-size: 113%;
        bottom: 11%;
    }
    .fifth-bottle-1 {
        bottom: 40%;
        left: 7.1%;
    }
    .fifth-bottle-2 {
        bottom: 40%;
        left: 9.5%;
    }
    .fifth-bottle-3 {
        bottom: 40%;
        left: 11.9%;
    }
    .fifth-bottle-4 {
        bottom: 40%;
        left: 14.3%;
    }
    .content-fifth-facebook-first{
        top: 85%;
        left: 29%;
    }
    .content-fifth-twitter-first{
        top: 85%;
        left: 46%;
    }
    .content-fifth-facebook-second{
        top: 100%;
        left: 33%;
    }
    .content-fifth-twitter-second{
        top: 100%;
        left: 15%;
    }
}
@media only screen and (max-device-width : 414px) {
    #fifth-message-first-background {
        padding-top: 60%;
        width: 82%;
        margin-left: 14%;
        margin-top: 25%;
        background-size: 96% 100%;
    }
    #fifth-message-second-background {
        padding-top: 27%;
        margin-left: 32%;
        margin-top: 25%;
        background-size: 67% 100%;
    }
    #fifth-message-second-image{
        width: 76%;
        padding-top: 45%;
        bottom: 45%;
        right: 31%;
    }
    #fifth-message-text-1 {
        font-size: 179%;
        left: 20%;
    }
    #fifth-message-text-2 {
        font-size: 206%;
        bottom: 41%;
    }
    #fifth-message-text-3 {
        font-size: 153%;
        bottom: 19%;
    }
    #fifth-message-text-4 {
        font-size: 111%;
    }
    #fifth-message-text-5 {
        font-size: 89%;
    }
    #fifth-message-text-6 {
        font-size: 104%;
    }
    .fifth-bottle-1 {
        bottom: 40%;
        left: 7.1%;
    }
    .fifth-bottle-2 {
        bottom: 40%;
        left: 9.5%;
    }
    .fifth-bottle-3 {
        bottom: 40%;
        left: 11.9%;
    }
    .fifth-bottle-4 {
        bottom: 40%;
        left: 14.3%;
    }
    .content-fifth-facebook-first{
        top: 85%;
        left: 35%;
    }
    .content-fifth-twitter-first{
        top: 85%;
        left: 52%;
    }
    .content-fifth-facebook-second{
        top: 100%;
        left: 15%;
    }
    .content-fifth-twitter-second{
        top: 100%;
        left: 34%;
    }
}
@media only screen and (max-device-width : 411px) {
    #fifth-message-first-background {
        padding-top: 60%;
        width: 82%;
        margin-left: 14%;
        margin-top: 25%;
        background-size: 91% 100%;
    }
    #fifth-message-second-background {
        padding-top: 27%;
        margin-left: 27%;
        margin-top: 25%;
        background-size: 64% 100%;
    }
    #fifth-message-second-image{
        width: 76%;
        padding-top: 45%;
        bottom: 45%;
        right: 31%;
    }
    #fifth-message-text-1 {
        font-size: 169%;
        left: 20%;
    }
    #fifth-message-text-2 {
        font-size: 206%;
        bottom: 41%;
    }
    #fifth-message-text-3 {
        font-size: 153%;
        bottom: 19%;
    }
    #fifth-message-text-4 {
        font-size: 111%;
    }
    #fifth-message-text-5 {
        font-size: 94%;
    }
    #fifth-message-text-6 {
        font-size: 104%;
    }
    .fifth-bottle-1 {
        bottom: 40%;
        left: 7.1%;
    }
    .fifth-bottle-2 {
        bottom: 40%;
        left: 9.5%;
    }
    .fifth-bottle-3 {
        bottom: 40%;
        left: 11.9%;
    }
    .fifth-bottle-4 {
        bottom: 40%;
        left: 14.3%;
    }
    .content-fifth-facebook-first{
        top: 85%;
        left: 29%;
    }
    .content-fifth-twitter-first{
        top: 85%;
        left: 46%;
    }
    .content-fifth-facebook-second{
        top: 100%;
        left: 30%;
    }
    .content-fifth-twitter-second{
        top: 100%;
        left: 12%;
    }
}
@media only screen and (max-device-width : 375px) {
    #fifth-message-first-background {
        padding-top: 60%;
        width: 82%;
        margin-left: 14%;
        margin-top: 25%;
        background-size: 97% 100%;
    }
    #fifth-message-second-background {
        padding-top: 27%;
        margin-left: 31%;
        margin-top: 25%;
        background-size: 68% 100%;
    }
    #fifth-message-second-image{
        width: 76%;
        padding-top: 45%;
        bottom: 45%;
        right: 28%;
    }
    #fifth-message-text-1 {
        font-size: 160%;
        left: 20%;
    }
    #fifth-message-text-2 {
        font-size: 188%;
        bottom: 41%;
    }
    #fifth-message-text-3 {
        font-size: 139%;
        bottom: 19%;
    }
    #fifth-message-text-4 {
        font-size: 107%;
        left: 1%;
    }
    #fifth-message-text-5 {
        font-size: 83%;
    }
    #fifth-message-text-6 {
        font-size: 99%;
        bottom: 11%;
    }
    .fifth-bottle-1 {
        bottom: 40%;
        left: 7.1%;
    }
    .fifth-bottle-2 {
        bottom: 40%;
        left: 9.5%;
    }
    .fifth-bottle-3 {
        bottom: 40%;
        left: 11.9%;
    }
    .fifth-bottle-4 {
        bottom: 40%;
        left: 14.3%;
    }
    .content-fifth-facebook-first{
        top: 85%;
        left: 31%;
    }
    .content-fifth-twitter-first{
        top: 85%;
        left: 50%;
    }
    .content-fifth-facebook-second{
        top: 100%;
        left: 13%;
    }
    .content-fifth-twitter-second{
        top: 100%;
        left: 36%;
    }
}
@media only screen and (max-device-width : 360px) {
    #fifth-message-first-background {
        padding-top: 60%;
        width: 82%;
        margin-left: 14%;
        margin-top: 25%;
        background-size: 97% 100%;
    }
    #fifth-message-second-background {
        padding-top: 27%;
        margin-left: 30%;
        margin-top: 25%;
        background-size: 74% 100%;
    }
    #fifth-message-second-image{
        width: 76%;
        padding-top: 45%;
        bottom: 50%;
        right: 25%;
    }
    #fifth-message-text-1 {
        font-size: 148%;
        left: 20%;
    }
    #fifth-message-text-2 {
        font-size: 181%;
        bottom: 41%;
    }
    #fifth-message-text-3 {
        font-size: 133%;
        bottom: 19%;
    }
    #fifth-message-text-4 {
        font-size: 107%;
        left: 1%;
    }
    #fifth-message-text-5 {
        font-size: 88%;
    }
    #fifth-message-text-6 {
        font-size: 105%;
    }
    .fifth-bottle-1 {
        bottom: 40%;
        left: 7.1%;
    }
    .fifth-bottle-2 {
        bottom: 40%;
        left: 9.5%;
    }
    .fifth-bottle-3 {
        bottom: 40%;
        left: 11.9%;
    }
    .fifth-bottle-4 {
        bottom: 40%;
        left: 14.3%;
    }
    .content-fifth-facebook-first{
        top: 85%;
        left: 31%;
    }
    .content-fifth-twitter-first{
        top: 85%;
        left: 50%;
    }
    .content-fifth-facebook-second{
        top: 100%;
        left: 15%;
    }
    .content-fifth-twitter-second{
        top: 100%;
        left: 36%;
    }
}
@media only screen and (max-device-width : 320px) {
    #fifth-message-first-background {
        padding-top: 60%;
        width: 82%;
        margin-left: 14%;
        margin-top: 25%;
        background-size: 98% 100%;
    }
    #fifth-message-second-background {
        padding-top: 27%;
        margin-left: 30%;
        margin-top: 25%;
        background-size: 70% 100%;
    }
    #fifth-message-second-image{
        width: 76%;
        padding-top: 45%;
        bottom: 45%;
        right: 27%;
    }
    #fifth-message-text-1 {
        font-size: 137%;
        left: 20%;
    }
    #fifth-message-text-2 {
        font-size: 161%;
        bottom: 41%;
    }
    #fifth-message-text-3 {
        font-size: 120%;
        bottom: 19%;
    }
    #fifth-message-text-4 {
        font-size: 96%;
    }
    #fifth-message-text-5 {
        font-size: 73%;
    }
    #fifth-message-text-6 {
        font-size: 89%;
        bottom: 9%;
    }
    .fifth-bottle-1 {
        bottom: 40%;
        left: 7.1%;
    }
    .fifth-bottle-2 {
        bottom: 40%;
        left: 9.5%;
    }
    .fifth-bottle-3 {
        bottom: 40%;
        left: 11.9%;
    }
    .fifth-bottle-4 {
        bottom: 40%;
        left: 14.3%;
    }
    .content-fifth-facebook-first{
        top: 85%;
        left: 31%;
    }
    .content-fifth-twitter-first{
        top: 85%;
        left: 51%;
    }
    .content-fifth-facebook-second{
        top: 100%;
        left: 13%;
    }
    .content-fifth-twitter-second{
        top: 100%;
        left: 36%;
    }
}
