#fourth-message-first-image {
    position: relative;
    padding-top: 42%;
    margin-left: 17%;
    background-image: url(../images/background-fourth-first.png);
    background-repeat: no-repeat;
    background-size: 77% 110%;
}
.first-trash-truck {
    width: 16%;
    padding-top: 9%;
    background-image: url(../images/trash-truck.png);
    background-repeat: no-repeat;
    background-size: 98% 98%;
}
.second-trash-truck {
    width: 16%;
    padding-top: 9%;
    background-image: url(../images/trash-truck.png);
    background-repeat: no-repeat;
    background-size: 98% 98%;
}
#fourth-message-first-image:hover .old{
    opacity: 0;
}
#fourth-message-first-image:hover .new{
    opacity: 1;
}
#left-trashtruck-first-image{
    top: 80%;
    left: -46%;
}
#left-trashtruck-second-image{
    top: 80%;
    left: -37%;
}
#fourth-message-first-image:hover .first-trash-truck{
    transform: translate(760px,0);
    -webkit-transform: translate(760px,0);
    -o-transform: translate(760px,0);
    -moz-transform: translate(760px,0);
}
#fourth-message-first-image:hover .second-trash-truck{
    transform: translate(860px,0);
    -webkit-transform: translate(860px,0);
    -o-transform: translate(860px,0);
    -moz-transform: translate(860px,0);
}
#fourth-message-text-1{
    left: 25%;
    bottom: 34%;
    font-weight: 900;
    font-size: 225%;
    color: #292e6e;
}
#fourth-message-text-2{
    left: 25%;
    bottom: 30%;
    font-weight: 600;
    font-size: 150%;
    color: #292e6e;
}
#fourth-message-text-3{
    left: 25%;
    bottom: 36%;
    font-weight: 900;
    font-size: 225%;
    color: #292e6e;
    opacity: 0;
}
#fourth-message-text-4{
    left: 25%;
    bottom: 32%;
    font-weight: 600;
    font-size: 150%;
    color: #292e6e;
    opacity: 0;
}
.content-fourth-facebook{
    position: absolute !important;
    bottom: -15%;
    left: 36%;
}
.content-fourth-twitter{
    position: absolute !important;
    bottom: -15%;
    left: 42%;
}
@media screen and (min-device-width: 1920px) {
    #fourth-message-text-1{
        left: 26%;
        bottom: 34%;
        font-weight: 900;
        font-size: 317%;
        color: #292e6e;
    }
    #fourth-message-text-2{
        left: 26%;
        bottom: 30%;
        font-weight: 600;
        font-size: 207%;
        color: #292e6e;
    }
    #fourth-message-text-3{
        font-size: 317%;
        left: 26%;
    }
    #fourth-message-text-4{
        left: 26%;
        bottom: 30%;
        font-weight: 600;
        font-size: 207%;
        color: #292e6e;
    }
    #left-trashtruck-first-image{
        top: 80%;
        left: -40%;
    }
    #left-trashtruck-second-image{
        top: 80%;
        left: -47%;
    }
    #fourth-message-first-image:hover .first-trash-truck{
        transform: translate(980px,0);
        -webkit-transform: translate(980px,0);
        -o-transform: translate(980px,0);
        -moz-transform: translate(980px,0);
    }
    #fourth-message-first-image:hover .second-trash-truck{
        transform: translate(1380px,0);
        -webkit-transform: translate(1380px,0);
        -o-transform: translate(1380px,0);
        -moz-transform: translate(1380px,0);
    }
    .content-fourth-facebook{
        bottom: -11%;
        left: 38%;
    }
    .content-fourth-twitter{
        bottom: -11%;
        left: 42%;
    }
}
@media only screen and (max-device-width: 768px){
    #fourth-message-first-image {
        padding-top: 76%;
        margin-left: 0;
        margin-bottom: 38%;
        background-size: 101% 110%;
    }
    #fourth-message-text-1{
        font-size: 212%;
        left: 33%;
    }
    #fourth-message-text-2{
        font-size: 141%;
        top: 66%;
        left: 33%;
    }
    #fourth-message-text-3{
        font-size: 212%;
        left: 33%;
    }
    #fourth-message-text-4{
        font-size: 141%;
        top: 63%;
        left: 33%;
    }
    #left-trashtruck-first-image{
        top: 85%;
        left: -66%;
    }
    #left-trashtruck-second-image{
        top: 85%;
        left: -53%;
    }
    .content-fourth-facebook{
        bottom: -15%;
        left: 46%;
    }
    .content-fourth-twitter{
        bottom: -15%;
        left: 54%;
    }
}
@media only screen and (max-device-width : 435px) {
    #fourth-message-first-image {
        padding-top: 76%;
        background-size: 100% 110%;
    }
    #fourth-message-text-1{
        font-size: 123%;
        left: 31%;
    }
    #fourth-message-text-2{
        font-size: 80%;
        top: 67%;
        left: 31%;
    }
    #fourth-message-text-3{
        font-size: 123%;
        left: 31%;
    }
    #fourth-message-text-4{
        font-size: 80%;
        top: 65%;
        left: 31%;
    }
    #left-trashtruck-first-image{
        top: 85%;
        left: -138%;
    }
    #left-trashtruck-second-image{
        top: 85%;
        left: -134%;
    }
    .content-fourth-facebook{
        top: 109%;
        left: 40%;
    }
    .content-fourth-twitter{
        top: 109%;
        left: 52%;
    }
}
@media only screen and (max-device-width : 414px) {
    #fourth-message-first-image {
        padding-top: 76%;
        background-size: 104% 110%;
    }
    #fourth-message-text-1{
        font-size: 113%;
        left: 34%;
    }
    #fourth-message-text-2{
        font-size: 76%;
        top: 67%;
        left: 34%;
    }
    #fourth-message-text-3{
        font-size: 118%;
        left: 34%;
    }
    #fourth-message-text-4{
        font-size: 76%;
        top: 64%;
        left: 34%;
    }
    #left-trashtruck-first-image{
        top: 85%;
        left: -152%;
    }
    #left-trashtruck-second-image{
        top: 85%;
        left: -150%
    }
    .content-fourth-facebook{
        top: 109%;
        left: 43%;
    }
    .content-fourth-twitter{
        top: 109%;
        left: 57%;
    }
}
@media only screen and (max-device-width : 411px) {
    #fourth-message-first-image {
        padding-top: 76%;
        margin-left: 0;
        background-size: 96% 110%;
    }
    #fourth-message-text-1{
        font-size: 114%;
        left: 31%;
    }
    #fourth-message-text-2{
        font-size: 76%;
        top: 67%;
        left: 31%;
    }
    #fourth-message-text-3{
        font-size: 114%;
        left: 31%;
    }
    #fourth-message-text-4{
        font-size: 76%;
        top: 64%;
        left: 31%;
    }
    #left-trashtruck-first-image{
        top: 85%;
        left: -147%;
    }
    #left-trashtruck-second-image{
        top: 85%;
        left: -145%;
    }
    .content-fourth-facebook{
        top: 109%;
        left: 39%;
    }
    .content-fourth-twitter{
        top: 109%;
        left: 52%;
    }
}
@media only screen and (max-device-width : 375px) {
    #fourth-message-first-image {
        padding-top: 76%;
        background-size: 106% 110%;
    }
    #fourth-message-text-1{
        font-size: 104%;
        left: 35%;
    }
    #fourth-message-text-2{
        font-size: 70%;
        top: 67%;
        left: 35%;
    }
    #fourth-message-text-3{
        font-size: 104%;
        left: 35%;
    }
    #fourth-message-text-4{
        font-size: 70%;
        top: 65%;
        left: 35%;
    }
    #left-trashtruck-first-image{
        top: 85%;
        left: -170%;
    }
    #left-trashtruck-second-image{
        top: 85%;
        left: -173%;
    }
    .content-fourth-facebook{
        top: 109%;
        left: 40%;
    }
    .content-fourth-twitter{
        top: 109%;
        left: 54%;
    }
}
@media only screen and (max-device-width : 360px) {
    #fourth-message-first-image {
        padding-top: 76%;
        background-size: 104% 110%;
    }
    #fourth-message-text-1{
        font-size: 96%;
        left: 36%;
    }
    #fourth-message-text-2{
        font-size: 64%;
        top: 67%;
        left: 36%;
    }
    #fourth-message-text-3{
        font-size: 96%;
        left: 35%;
    }
    #fourth-message-text-4{
        font-size: 64%;
        top: 65%;
        left: 35%;
    }
    #left-trashtruck-first-image{
        top: 85%;
        left: -180%;
    }
    #left-trashtruck-second-image{
        top: 85%;
        left: -183%;
    }
    .content-fourth-facebook{
        top: 109%;
        left: 40%;
    }
    .content-fourth-twitter{
        top: 109%;
        left: 54%;
    }
}
@media only screen and (max-device-width : 320px) {
    #fourth-message-first-image {
        padding-top: 76%;
        background-size: 105% 110%;
    }
    #fourth-message-text-1{
        font-size: 85%;
        left: 35%;
    }
    #fourth-message-text-2{
        font-size: 57%;
        left: 35%;
        top: 66%;
    }
    #fourth-message-text-3{
        font-size: 85%;
        left: 35%;
    }
    #fourth-message-text-4{
        font-size: 57%;
        left: 35%;
        top: 65%;
    }
    #left-trashtruck-first-image{
        top: 85%;
        left: -203%;
    }
    #left-trashtruck-second-image{
        top: 85%;
        left: -209%;
    }
    .content-fourth-facebook{
        top: 109%;
    }
    .content-fourth-twitter{
        top: 109%;
    }
}