#eighth-message-first-image {
    padding-top: 43%;
    background-image: url(../images/final-logo-arrow.png);
    background-repeat: no-repeat;
    background-size: 106% 100%;
}
#eighth-message-text-1 {
    left: 32%;
    bottom: 73%;
    font-weight: bold;
    font-size: 320%;
    color: #292e6e;
}
@media only screen and (min-device-width: 1920px) {
    #eighth-message-text-1 {
        font-size: 439%;
        left: 33%;
        bottom: 74.6%;
    }
}
@media only screen and (max-device-width: 768px){
    #eighth-message-text-1 {
        font-size: 202%;
        left: 31%;
        bottom: 83%;
    }
}
@media only screen and (max-device-width: 435px){
    #eighth-message-text-1 {
        font-size: 112%;
    }
}
@media only screen and (max-device-width: 414px){
    #eighth-message-text-1 {
        font-size: 111%;
        bottom: 91%;
        left: 29%;
    }
}
@media only screen and (max-device-width: 411px){
    #eighth-message-text-1 {
        font-size: 111%;
        bottom: 91%;
        left: 26%;
    }
}
@media only screen and (max-device-width: 375px){
    #eighth-message-text-1 {
        font-size: 97%;
        left: 29%;
        bottom: 92%;
    }
}
@media only screen and (max-device-width: 360px){
    #eighth-message-first-image {
        background-size: 110% 100%;
    }
    #eighth-message-text-1 {
        font-size: 91%;
        left: 29%;
        bottom: 92%;
    }
}
@media only screen and (max-device-width: 320px){
    #eighth-message-text-1 {
        font-size: 87%;
    }
}