#first-message-first-image {
    position: relative;
    width: 100%;
    padding-top: 80%;
    margin-top: 15%;
    margin-left: 8%;
    background-image: url(../images/first-image.png);
    background-repeat: no-repeat;
    background-size: 80% 71%;
}
#first-message-second-image {
    width: 33%;
    padding-top: 40%;
    background-image: url(../images/sun-lights-image.png);
    background-repeat: no-repeat;
    background-size: 92% 77%;
}
.color-title-message{
    color: #292e6e;
}
.title-first-message{
    color: #292e6e;
    position: absolute;
    bottom: 73%;
    font-weight: bold;
    font-family: avenir;
    font-size: 196%;
    padding: 0 20px;
    width: 40%;
    line-height: 150%;
}
.left-first-message-title-1{
    left: 14%;
}
.left-first-message-title-2{
    left: 13%;
}
.left-first-message-1{
    left: 17%;
}
.left-first-message-2{
    left: 17%;
}
.left-first-message-3{
    left: 18%;
}
.left-first-message-4{
    left: 12%;
}
.content-first-message-1 {
    color: #292e6e;
    position: absolute;
}
.content-first-message-2{
    color: #e4b524;
    position: absolute;
}
.content-first-message-3{
    position: absolute;
    bottom: 50%;
    left: 59%;
}
.content-first-facebook{
    position: absolute !important;
    bottom: 24%;
    left: 38%;
}
.content-first-twitter{
    position: absolute !important;
    bottom: 24%;
    left: 47%;
}
.first-message-text-1{
    bottom: 59%;
    font-weight: bold;
    font-size: 426%;
    width: 50%;
}
.first-message-text-2{
    bottom: 57%;
    font-family: avenir;
    font-weight: bold;
    font-size: 176%;
    width: 60%;
}
.first-message-text-3{
    bottom: 51%;
    font-family: avenir;
    font-size: 224%;
    width: 60%;
}
.first-message-text-4{
    bottom: 36%;
    font-family: avenir;
    font-size: 497%;
}
.first-message-text-5{
    bottom: 58%;
    font-family: 'avenir';
    font-size: 180%;
}
.first-message-text-6 {
    bottom: 44%;
    left: 19%;
    font-family: 'avenir';
    font-size: 227%;
}
@media only screen and (min-device-width: 1920px) {
    #first-message-second-image {
        padding-top: 39%;
    }
    .title-first-message{
        font-size: 252%;
        bottom: 73%;
    }
    .left-first-message-title-2{
        left: 15%;
        font-size: 277%;
        bottom: 74%;
    }
    .first-message-text-1{
        bottom: 60%;
        font-size: 560%;
    }
    .first-message-text-2{
        bottom: 58%;
        font-size: 230%;
    }
    .first-message-text-3{
        bottom: 51.5%;
        font-size: 290%;
    }
    .first-message-text-4{
        bottom: 36.5%;
        font-size: 728%;
    }
    .first-message-text-5{
        bottom: 60%;
        font-size: 264%;
    }
    .first-message-text-6 {
        bottom: 47%;
        font-size: 301%;
    }
    .content-first-facebook{
        left: 39%;
        top: 65%;
    }
    .content-first-twitter{
        left: 46%;
        top: 65%;
    }
}
@media only screen and (max-device-width : 768px) {
    #first-message-second-image {
        padding-top: 39%;
    }
    .title-first-message{
        font-size: 252%;
        bottom: 73%;
    }
    .left-first-message-title-2{
        left: 15%;
        font-size: 200%;
        bottom: 74%;
    }
    .first-message-text-1{
        bottom: 59%;
        font-size: 470%;
    }
    .first-message-text-2{
        bottom: 57%;
        font-size: 195%;
    }
    .first-message-text-3{
        bottom: 51%;
        font-size: 247%;
    }
    .first-message-text-4{
        bottom: 36%;
        font-size: 585%;
    }
    .first-message-text-5{
        bottom: 60%;
        font-size: 208%;
    }
    .first-message-text-6 {
        bottom: 47%;
        font-size: 215%;
    }
    .content-first-facebook{
        left: 37%;
        top: 65%;
    }
    .content-first-twitter{
        left: 45%;
        top: 65%;
    }
}
@media only screen and (max-device-width : 435px) {
    #first-message-second-image {
        padding-top: 41%;
    }
    .title-first-message{
        font-size: 156%;
        bottom: 73%;
    }
    .left-first-message-title-2{
        left: 9%;
    }
    .first-message-text-1{
        bottom: 59%;
        font-size: 302%;
    }
    .first-message-text-2{
        bottom: 57%;
        font-size: 140%;
    }
    .first-message-text-3{
        bottom: 51%;
        font-size: 157%;
    }
    .first-message-text-4{
        bottom: 35%;
        font-size: 345%;
    }
    .first-message-text-5{
        bottom: 60%;
        font-size: 124%;
    }
    .first-message-text-6 {
        bottom: 47%;
        font-size: 126%;
    }
    .content-first-facebook{
        left: 40%;
    }
    .content-first-twitter{
        left: 55%;
    }
}
@media only screen and (max-device-width: 414px) {
    #first-message-second-image {
        padding-top: 41%;
    }
    .title-first-message{
        font-size: 150%;
        bottom: 73%;
    }
    .left-first-message-title-2{
        left: 11%;
        font-size: 116%;
    }
    .first-message-text-1{
        bottom: 60%;
        font-size: 240%;
    }
    .first-message-text-2{
        bottom: 58%;
        font-size: 100%;
    }
    .first-message-text-3{
        bottom: 51%;
        font-size: 128%;
    }
    .first-message-text-4{
        bottom: 35%;
        font-size: 302%;
    }
    .first-message-text-5{
        bottom: 60%;
        font-size: 110%;
    }
    .first-message-text-6 {
        bottom: 47%;
        font-size: 108%;
    }
    .content-first-facebook{
        left: 34%;
    }
    .content-first-twitter{
        left: 48%;
    }
}
@media only screen and (max-device-width : 411px) {
    #first-message-second-image {
        padding-top: 42%;
    }
    .title-first-message{
        font-size: 143%;
        bottom: 73%;
    }
    .left-first-message-title-2{
        left: 10%;
    }
    .first-message-text-1{
        bottom: 59%;
        font-size: 288%;
    }
    .first-message-text-2{
        bottom: 57%;
        font-size: 137%;
    }
    .first-message-text-3{
        bottom: 51%;
        font-size: 154%;
    }
    .first-message-text-4{
        bottom: 35%;
        font-size: 323%;
    }
    .first-message-text-5{
        bottom: 56%;
        font-size: 117%;
    }
    .first-message-text-6 {
        bottom: 44%;
        font-size: 112%;
    }
    .content-first-facebook{
        left: 40%;
    }
    .content-first-twitter{
        left: 55%;
    }
}
@media only screen and (max-device-width: 375px) {
    #first-message-second-image {
        padding-top: 42%;
    }
    .title-first-message{
        font-size: 122%;
        bottom: 73%;
    }
    .left-first-message-title-2{
        left: 12%;
        font-size: 99%;
        bottom: 74%;
    }
    .first-message-text-1{
        bottom: 61%;
        font-size: 204%;
    }
    .first-message-text-2{
        bottom: 58%;
        font-size: 88%;
    }
    .first-message-text-3{
        bottom: 51%;
        font-size: 114%;
    }
    .first-message-text-4{
        bottom: 35%;
        font-size: 273%;
    }
    .first-message-text-5{
        bottom: 56%;
        font-size: 104%;
    }
    .first-message-text-6 {
        bottom: 44%;
        font-size: 105%;
    }
    .content-first-facebook{
        left: 31%;
    }
    .content-first-twitter{
        left: 48%;
    }
}
@media only screen and (max-device-width: 360px) {
    #first-message-second-image {
        padding-top: 42%;
    }
    .title-first-message{
        font-size: 103%;
        bottom: 74%;
    }
    .left-first-message-title-2{
        left: 10%;
    }
    .first-message-text-1{
        bottom: 59%;
        font-size: 206%;
    }
    .first-message-text-2{
        bottom: 57%;
        font-size: 84%;
    }
    .first-message-text-3{
        bottom: 51%;
        font-size: 107%;
    }
    .first-message-text-4{
        bottom: 35%;
        font-size: 260%;
    }
    .first-message-text-5{
        bottom: 56%;
        font-size: 97%;
    }
    .first-message-text-6 {
        bottom: 44%;
        font-size: 95%;
    }
    .content-first-facebook{
        left: 32%;
    }
    .content-first-twitter{
        left: 47%;
    }
}
@media only screen and (max-device-width: 320px) {
    #first-message-second-image {
        padding-top: 42%;
    }
    .title-first-message{
        font-size: 106%;
        bottom: 73%;
    }
    .left-first-message-title-2{
        left: 12%;
        font-size: 77%;
        bottom: 74%;
    }
    .first-message-text-1{
        bottom: 61%;
        font-size: 171%;
    }
    .first-message-text-2{
        bottom: 58%;
        font-size: 72%;
    }
    .first-message-text-3{
        bottom: 51%;
        font-size: 93%;
    }
    .first-message-text-4{
        bottom: 35%;
        font-size: 231%;
    }
    .first-message-text-5{
        bottom: 56%;
        font-size: 81%;
    }
    .first-message-text-6 {
        bottom: 44%;
        font-size: 81%;
    }
    .content-first-facebook{
        left: 28%;
    }
    .content-first-twitter{
        left: 47%;
    }
}