.title img{
    width: 20%;
}
.bold{
    font-weight: bold;
}
.color{
    color: #292e6e;
}
.fonts{
    font-weight: bold;
    font-size: 120%;
}
.fonts-terms{
    font-family: avenir;
    font-weight: bold;
}
#register-logo{
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
}
.register-background-color {
    background-color: #44c1f0;
}
#logo-footer{
    position: absolute;
    height: 10%;
    width: 105.2%;
    margin-left: -31px;
    margin-top: -15px;
}
#register-footer{
    height: 10%;
    width: 105.2%;
    margin-left: -31px;
    margin-top: -15px;
}
#count-messages{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
}
#scroll-down-arrow{
    position: fixed;
    z-index: 0;
    top: 3.2%;
    left: 49%;
    right: 0;
    width: 4%;
    height: 58px;
}
.register-button {
    background-color: #fbcb09;
    color: #0f4bac;
    border-radius: 6px;
    border: 2px solid #fbcb09   ;
}
.register-button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}
.register-input-text{
    border-radius: 16px;
    border: 1px solid #ccc;
    height: 34px;
    padding: 6px 12px;
}
.new{
    opacity: 0;
}
.old, .new{
    transition: opacity 3.5s linear;
}
.register-marviva-title{
    margin-bottom: 10%;
}
#logo{
    width: 90%;
    margin-bottom: 5%;
}
.move-right{
    transition: all 2s;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
}
.newUserForm input.ng-invalid.ng-touched {
    border-color: #fa001b;
    border-width: 5px;
}
.newUserForm input.ng-valid.ng-touched {
    border-color: #00fa0a;
    border-width: 5px;
}
.icon-button {
    background-color: white;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
}
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}
.twitter span {
    background-color: #4099ff;
}
.facebook span {
    background-color: #3B5998;
}
.google-plus span {
    background-color: #db5a3c;
}
.icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}
.icon-button .icon-twitter {
    color: #4099ff;
}
.icon-button .icon-facebook {
    color: #3B5998;
}
.icon-button .icon-google-plus {
    color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
    color: white;
}
.background-position{
  position: absolute;
}
.no-padding{
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}
.no-margin-right{
    margin-right: 0px !important;
}
.section{
    margin: 0px auto;
    min-height: 500px;
    position: relative;
    width: 100%;
    padding-bottom: 6%;
}
@font-face {
    font-family: 'avenir';
    src: url(../fonts/AvenirNextLTPro-Regular.woff);
}
.background-main{
    background: #44c1f0;
    padding-right: 5%;
}
.background-final{
    background-color: #44c1f0 ;
    padding-top: 5%;
}
#final{
    background-color: #44c1f0 ;
    margin: 0px auto;
    max-width: 100%;
    min-height: 400px;
    position: relative;
}
.not-visible{
    visibility: hidden;
}
#logoFinal{
    width: 60%;
    height: 0%;
    margin-left: -2%;
    margin-bottom: 5%;
    margin-top: -5%;
}

.final-text{
    color: #282F6D;
}
.panel.rounded{
    border-radius: 15px;
}
#advice-button{
    margin-left: 24%;
}
.advice-button {
    background: #fbcb09;
    border: 2px !important;
    background-image: -webkit-linear-gradient(top, #ffe600, #ffce07);
    background-image: -moz-linear-gradient(top, #ffe600, #ffce07);
    background-image: -ms-linear-gradient(top, #ffe600, #ffce07);
    background-image: -o-linear-gradient(top, #ffe600, #ffce07);
    background-image: linear-gradient(to bottom, #ffe600, #ffce07);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px !important;
    padding: 3% 7% 3% 8% !important;
    font-family: Arial;
    color: #fff;
    text-decoration: none;
}
.advice-button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    color: #fbcb09 !important;
}
@media only screen and (max-width:1366px){
    #register-footer{
        width: 104.7%;
        margin-left: -31px;
    }
}
@media screen and (min-device-width: 1920px) {
    .control-label{
        font-size: 200%;
        margin-top: -4%;
    }
    .register-input-text{
        margin-left: 44%;
    }
    .advice-button{
        margin-left: 7%;
    }
    #scroll-down-arrow{
        position: fixed;
        z-index: 0;
        left: 48%;
        top: 2%;
        right: 0;
        width: 5%;
        height: 95px;
    }
}
@media only screen and (max-device-width: 768px) {
    .col-sm-offset-4{
        margin-left: 16.66666667% !important;
    }
    .col-sm-4{
        width: 66.66666667% !important;
    }
    .newUserForm{
        margin-top: 21%;
    }
    #scroll-down-arrow{
        position: fixed;
        z-index: 0;
        left: 41%;
        top: 2%;
        right: 0;
        width: 18%;
        height: 138px;
    }
    #advice-button{
        margin-left: 7%;
    }
    #register-footer{
        height: 10%;
        width: 108.7%;
        margin-left: -31px;
        margin-top: 319px;
    }
    .register-input-text{
        border-radius: 16px;
        border: 1px solid #ccc;
        height: 34px;
        padding: 6px 12px;
        width: 102%;
    }
}
@media only screen and (max-device-width: 435px) {
    #register-footer{
        height: 10%;
        width: 116.4%;
        margin-left: -31px;
        margin-top: 62px;
    }
    .register-input-text{
        border-radius: 16px;
        border: 1px solid #ccc;
        height: 34px;
        padding: 6px 12px;
        width: 102%;
    }
}
@media only screen and (max-device-width: 414px) {
    #advice-button{
        margin-left: 9%;
    }
    #register-footer{
        height: 10%;
        width: 116.9%;
        margin-left: -31px;
        margin-top: 42px;
    }
    #scroll-down-arrow{
        position: fixed;
        z-index: 0;
        left: 39%;
        right: 0;
        width: 22%;
        height: 87px;
    }
    .background-main{
        background: #44c1f0;
        padding-right: 7%;
    }
}
@media only screen and (max-device-width: 411px) {
    #register-footer {
        height: 10%;
        width: 116.7%;
        margin-left: -31px;
        margin-top: -15px;
    }
    .register-input-text{
        border-radius: 16px;
        border: 1px solid #ccc;
        height: 34px;
        padding: 6px 12px;
        width: 104%;
    }
}
@media only screen and (max-device-width: 375px) {
    #register-footer{
        height: 10%;
        width: 119%;
        margin-left: -31px;
        margin-top: 3px;
    }
}
@media only screen and (max-device-width: 360px) {
    #advice-button{
        margin-left: 7%;
    }
    #register-footer{
        height: 10%;
        width: 119.9%;
        margin-left: -31px;
        margin-top: -12px;
    }
    #scroll-down-arrow{
        position: fixed;
        z-index: 0;
        left: 37%;
        right: 0;
        width: 22%;
        height: 87px;
    }
}
@media only screen and (max-device-width: 320px) {
    #advice-button{
        margin-left: 8%;
    }
    #register-footer{
        height: 10%;
        width: 123.4%;
        margin-left: -31px;
        margin-top: -15px;
    }
    #scroll-down-arrow{
        position: fixed;
        z-index: 0;
        left: 42%;
        top: 2%;
        right: 0;
        width: 17%;
        height: 64px;
    }
}