#second-message-first-image {
    margin-left: 10%;
    width: 30%;
    padding-top:80%;
    background-image: url(../images/big-bottle.png);
    background-repeat: no-repeat;
    background-size: 74% 77%;
}
#second-message-second-image {
    width: 100%;
    padding-top: 80%;
    background-image: url(../images/fishes-without-bottles.png);
    background-repeat: no-repeat;
    background-size: 87% 89%;
}
#second-message-third-image {
    width: 100%;
    padding-top: 70%;
    background-image: url(../images/fishes-with-text.png);
    background-repeat: no-repeat;
    background-size: 100% 83%;
}
.second-message-bottle {
    width: 30%;
    padding-top: 80%;
    background-image: url(../images/bottle.png);
    background-repeat: no-repeat;
    background-size: 80% 77%;
}
.second-message-bottle-incline-1{
    width: 12%;
    padding-top: 19%;
    background-image: url(../images/bottle-inclined.png);
    background-repeat: no-repeat;
    background-size: 80% 77%;
}
.second-message-bottle-incline-2{
    width: 12%;
    padding-top: 16%;
    background-image: url(../images/bottle-inclined-2.png);
    background-repeat: no-repeat;
    background-size: 80% 77%;
}
.title-second-message{
    color: #292e6e;
    position: absolute;
    bottom: 72%;
    left: 18%;
    font-family: 'avenir';
    font-size: 150%;
    padding: 0 20px;
    width: 40%;
    line-height: 150%;
}
.second-bottle-1 {
    bottom: 61%;
    left: 75%
}
.second-bottle-2 {
    bottom: 61%;
    left: 100%
}
.second-bottle-3 {
    bottom: 61%;
    left: 125%;
}
.second-bottle-4 {
    bottom: 61%;
    left: 150%;
}
.second-bottle-5 {
    bottom: 61%;
    left: 174%;
}
.second-bottle-6 {
    bottom: 61%;
    left: 198%;
}
.second-bottle-7 {
    bottom: 61%;
    left: 222%;
}
.second-bottle-8 {
    bottom: 61%;
    left: 246%;
}
.second-bottle-9 {
    bottom: 38%;
    left: 76%;
}
.second-bottle-10 {
    bottom: 38%;
    left: 100%
}
.second-bottle-11 {
    bottom: 38%;
    left: 125%;
}
.second-bottle-12 {
    bottom: 38%;
    left: 150%;
}
.second-bottle-13 {
    bottom: 38%;
    left: 174%;
}
.second-bottle-14 {
    bottom: 38%;
    left: 198%;
}
.second-bottle-15 {
    bottom: 38%;
    left: 222%;
}
.second-bottle-16 {
    bottom: 38%;
    left: 246%;
}
.second-bottle-17 {
    bottom: 15%;
    left: 74%
}
.second-bottle-18 {
    bottom: 15%;
    left: 100%
}
.second-bottle-19 {
    bottom: 15%;
    left: 125%;
}
.second-bottle-20 {
    bottom: 15%;
    left: 150%;
}
.second-bottle-21 {
    bottom: 15%;
    left: 174%;
}
.second-bottle-22 {
    bottom: 15%;
    left: 198%;
}
.second-bottle-23 {
    bottom: 15%;
    left: 222%;
}
.second-bottle-24 {
    bottom: 15%;
    left: 246%;
}
.second-bottle-25 {
    top: 12%;
    left: 13%;
}
.second-bottle-26{
    top: 17%;
    left: 64%;
}
.second-bottle-27{
    top: 50%;
    left: 42%;
}
.second-bottle-28{
    top: 14%;
    left: 51%;
}
.second-bottle-29{
    top: 13%;
    left: 40%;
}
.second-bottle-30{
    top: 32%;
    left: 24%;
}
.second-bottle-31{
    top: 34%;
    left: 20%;
}
.second-bottle-32{
    top: 51%;
    left: 20%;
}
.second-bottle-33{
    top: 49%;
    left: 39%;
}
.second-bottle-34{
    top: 38%;
    left: 64%;
}
.second-bottle-35{
    top: 54%;
    left: 64%;
}
.second-bottle-36{
    top: 25%;
    left: 8%;
}
.second-bottle-37{
    top: 15%;
    left: 58%;
}
.second-bottle-38{
    top: 42%;
    left: 19%;
}
.second-bottle-39{
    top: 17%;
    left: 83%;
}
.second-bottle-40{
    top: 11%;
    left: 29%;
}
.second-bottle-41{
    top: 14%;
    left: 38%;
}
.second-bottle-42{
    top: 33%;
    left: 31%;
}
.second-bottle-43{
    top: 35%;
    left: 35%;
}
.second-bottle-44{
    top: 35%;
    left: 50%;
}
.second-bottle-45{
    top: 17%;
    left: 55%;
}
.second-bottle-46{
    top: 13%;
    left: 47%;
}
.second-bottle-47{
    top: 20%;
    left: 39%;
}
.second-bottle-48{
    top: 26%;
    left: 24%;
}
.second-bottle-49{
    top: 18%;
    left: 21%;
}
.second-bottle-50{
    top: 56%;
    left: 6%;
}
.second-bottle-51{
    top: 62%;
    left: 14%;
}
.second-bottle-52{
    top: 59%;
    left: 22%;
}
.second-bottle-53{
    top: 62%;
    left: 34%;
}
.second-bottle-54{
    top: 62%;
    left: 32%;
}
.second-bottle-55{
    top: 17%;
    left: 74%;
}
.second-bottle-56{
    top: 17%;
    left: 72%;
}
.second-bottle-57{
    top: 36%;
    left: 4%;
}
.second-bottle-58{
    top: 25%;
    left: 10%;
}
.second-bottle-59{
    top: 46%;
    left: 21%;
}
.second-bottle-60{
    top: 46%;
    left: 30%;
}
.second-bottle-61{
    top: 12%;
    left: 23%;
}
.second-bottle-62{
    top: 12%;
    left: 28%;
}
.second-bottle-63{
    top: 46%;
    left: 30%;
}
.second-bottle-64{
    top: 32%;
    left: 11%;
}
.second-bottle-65{
    top: 45%;
    left: 7%;
}
.second-bottle-66{
    top: 55%;
    left: 23%;
}
.second-bottle-67{
    top: 56%;
    left: 50%;
}
.second-bottle-68{
    top: 57%;
    left: 44%;
}
.second-bottle-69{
    top: 46%;
    left: 59%;
}
.second-bottle-70{
    top: 27%;
    left: 72%;
}
.second-bottle-71{
    top: 46%;
    left: 30%;
}
.second-bottle-72{
    top: 46%;
    left: 8%;
}
.second-bottle-73{
    top: 26%;
    left: 30%;
}
.second-bottle-74{
    top: 14%;
    left: 55%;
}
.second-bottle-75{
    top: 31%;
    left: 44%;
}
.second-bottle-76{
    top: 33%;
    left: 44%;
}
.second-bottle-77{
    top: 29%;
    left: 26%;
}
.second-bottle-78{
    top: 56%;
    left: 30%;
}
.second-bottle-79{
    top: 27%;
    left: 53%;
}
.second-bottle-80{
    top: 29%;
    left: 74%;
}
.second-bottle-81{
    top: 29%;
    left: 62%;
}
.second-bottle-82{
    top: 22%;
    left: 5%;
}
.second-bottle-83{
    top: 19%;
    left: 17%;
}
.second-bottle-84{
    top: 55%;
    left: 72%;
}
.second-bottle-85{
    top: 12%;
    left: 74%;
}
.second-bottle-86{
    top: 29%;
    left: 14%;
}
.second-bottle-87{
    top: 40%;
    left: 74%;
}
.second-bottle-88{
    top: 29%;
    left: 57%;
}
.second-bottle-89{
    top: 14%;
    left: 38%;
}
.second-bottle-90{
    top: 29%;
    left: 74%;
}
.second-bottle-91{
    top: 29%;
    left: 35%;
}
.second-bottle-92{
    top: 34%;
    left: 12%;
}
.second-bottle-93{
    top: 18%;
    left: 65%;
}
.second-bottle-94{
    top: 18%;
    left: 50%;
}
.second-bottle-95{
    top: 49%;
    left: 14%;
}
.second-bottle-96{
    top: 29%;
    left: 41%;
}
.second-bottle-97{
    top: 49%;
    left: 38%;
}
.second-bottle-98{
    top: 19%;
    left: 16%;
}
.second-bottle-99{
    top: 65%;
    left: 4%;
}
.second-bottle-100{
    top: 29%;
    left: 29%;
}
.second-message-text-1{
    color: #292e6e;
    bottom: 49%;
    font-family: 'avenir';
    font-size: 131%;
    width: 45%;
}
.second-message-text-2{
    color: #292e6e;
    bottom: 42%;
    font-family: 'avenir';
    font-size: 128%;
}
.second-message-text-3{
    color: #292e6e;
    bottom: 29%;
    font-family: 'avenir';
    font-size: 329%;
    width: 45%;
}
.second-message-text-4{
    color: #292e6e;
    bottom: 89%;
    left: 74%;
    font-family: 'avenir';
    font-size: 402%;
    width: 45%;
}
.left-second-message{
    color: #292e6e;
    left: 50%;
}
.content-second-facebook{
    position: absolute !important;
    bottom: 17%;
    left: 47%;
}
.content-second-twitter{
    position: absolute !important;
    bottom: 17%;
    left: 52%;
}
@media only screen and (min-device-width: 1920px) {
    #second-message-second-image {
        margin-top: 18%;
    }
    #second-message-third-image{
        padding-top: 72%;
        margin-top: 18%;
    }
    .second-bottle-36{
        top: 43%;
        left: 1%;
    }
    .second-bottle-37{
        top: 39%;
        left: 81%;
    }
    .second-bottle-39{
        top: 33%;
        left: 83%;
    }
    .second-bottle-40{
        top: 34%;
        left: 24%;
    }
    .second-bottle-41{
        top: 57%;
        left: 38%;
    }
    .second-bottle-45{
        top: 29%;
        left: 48%;
    }
    .second-bottle-46{
        top: 29%;
        left: 65%;
    }
    .second-bottle-47{
        top: 42%;
        left: 39%;
    }
    .second-bottle-48{
        top: 70%;
        left: 26%;
    }
    .second-bottle-49{
        top: 63%;
        left: 21%;
    }
    .second-bottle-55{
        top: 31%;
        left: 88%;
    }
    .second-bottle-56{
        top: 36%;
        left: 65%;
    }
    .second-bottle-57{
        top: 34%;
        left: 73%;
    }
    .second-bottle-58{
        top: 48%;
        left: 10%;
    }
    .second-bottle-93{
        top: 30%;
        left: 48%;
    }
    .second-bottle-94{
        top: 29%;
        left: 57%;
    }
    .second-bottle-98{
        top: 67%;
    }
    .second-bottle-100{
        top: 73%;
        left: 32%;
    }
    .second-message-text-1{
        font-size: 163%;
        bottom: 39%;
    }
    .second-message-text-2{
        font-size: 174%;
        bottom: 33%;
    }
    .second-message-text-3{
        bottom: 23.7%;
        font-size: 433%;
    }
    .content-second-facebook{
        bottom: 16%;
        left: 48%;
    }
    .content-second-twitter{
        bottom: 16%;
        left: 52%;
    }
}
@media only screen and (max-device-width: 768px){
    #second-message-third-image{
        padding-top: 72%;
    }
    .second-message-text-1{
        font-size: 163%;
    }
    .second-message-text-2{
        font-size: 162%;
    }
    .second-message-text-3{
        bottom: 29%;
        font-size: 409%;
    }
    .content-second-facebook{
        bottom: 16%;
        left: 47%;
    }
    .content-second-twitter{
        bottom: 16%;
        left: 55%;
    }
}
@media only screen and (max-device-width: 435px){
    .second-message-text-1{
        font-size: 107%;
    }
    .second-message-text-2{
        font-size: 105%;
    }
    .second-message-text-3{
        font-size: 262%;
        bottom: 28%;
    }
    .content-second-facebook{
        bottom: 40%;
        left: 40%;
    }
    .content-second-twitter{
        bottom: 40%;
        left: 53%;
    }
}
@media only screen and (max-device-width: 414px){
    .second-message-text-1{
        font-size: 83%;
    }
    .second-message-text-2{
        font-size: 82%;
    }
    .second-message-text-3{
        font-size: 208%;
        bottom: 28%;
    }
    .content-second-facebook{
        bottom: 42%;
        left: 42%;
    }
    .content-second-twitter{
        bottom: 42%;
        left: 56%;
    }
}
@media only screen and (max-device-width: 411px){
    .second-message-text-1{
        font-size: 103%;
    }
    .second-message-text-2{
        font-size: 98%;
    }
    .second-message-text-3{
        font-size: 250%;
    }
    .content-second-facebook{
        bottom: 41%;
        left: 40%;
    }
    .content-second-twitter{
        bottom: 41%;
        left: 53%;
    }
}
@media only screen and (max-device-width: 375px){
    .second-message-text-1{
        font-size: 78%;
    }
    .second-message-text-2{
        font-size: 77%;
    }
    .second-message-text-3{
        font-size: 190%;
        bottom: 28%;
    }
    .content-second-facebook{
        bottom: 47%;
        left: 43%;
    }
    .content-second-twitter{
        bottom: 47%;
        left: 57%;
    }
}
@media only screen and (max-device-width: 360px){
    #second-message-third-image{
        padding-top: 72%;
    }
    .second-message-text-1{
        font-size: 71%;
    }
    .second-message-text-2{
        font-size: 70%;
    }
    .second-message-text-3{
        font-size: 171%;
    }
    .content-second-facebook{
        bottom: 47%;
        left: 42%;
    }
    .content-second-twitter{
        bottom: 47%;
        left: 57%;
    }
}
@media only screen and (max-device-width: 320px){
    .second-message-text-1{
        font-size: 65%;
    }
    .second-message-text-2{
        font-size: 64%;
    }
    .second-message-text-3{
        font-size: 160%;
    }
    .content-second-facebook{
        bottom: 53%;
        left: 40%;
    }
    .content-second-twitter{
        bottom: 53%;
        left: 56%;
    }
}