#seventh-message-background-first-image {
    position: relative;
    padding-top: 22%;
    margin-left: 32%;
    margin-top: 10%;
    background-image: url(../images/background-seventh-message-first.png);
    background-repeat: no-repeat;
    background-size: 63% 100%;
}
#seventh-message-background-second-image {
    position: relative;
    padding-top: 15%;
    margin-left: -3%;
    margin-top: 20%;
    margin-bottom: 15%;
    background-image: url(../images/background-seventh-message-second.png);
    background-repeat: no-repeat;
    background-size: 74% 108%;
}
#seventh-message-second-image{
    top: 50%;
    padding-top: 21%;
    width: 30%;
    background-image: url(../images/struggle-bottle.png);
    background-repeat: no-repeat;
    background-size: 92% 92%;
    left: 40%;
}
#seventh-message-third-image{
    top: 20%;
    padding-top: 21%;
    width: 20%;
    background-image: url(../images/struggle-bottle.png);
    background-repeat: no-repeat;
    background-size: 99% 60%;
    left: 64%;
}
#seventh-message-text-1 {
    left: 2%;
    bottom: 99%;
    font-family: avenir;
    font-weight: bold;
    font-size: 480%;
    color: #292e6e;
}
#seventh-message-text-2 {
    left: 26%;
    bottom: 79%;
    font-family: avenir;
    font-weight: bold;
    font-size: 435%;
    color: #292e6e;
}
#seventh-message-text-3 {
    left: 2%;
    bottom: 30%;
    font-family: avenir;
    font-weight: bold;
    font-size: 536%;
    color: #292e6e;
    line-height: 90%;
}
#seventh-message-text-4 {
    top: 75%;
    left: 2%;
    font-weight: bold;
    font-size: 371%;
    color: #292e6e;
}
#seventh-message-text-5 {
    left: 34%;
    bottom: 66%;
    font-family: 'avenir';
    font-size: 1200%;
    color: #292e6e;
}
#seventh-message-text-6 {
    left: 35%;
    bottom: 61%;
    font-family: avenir;
    font-weight: bold;
    font-size: 329%;
    color: #292e6e;
}
#seventh-message-text-7 {
    left: 35%;
    bottom: 23%;
    font-family: avenir;
    font-weight: bold;
    font-size: 453%;
    color: #292e6e;
}
#seventh-message-text-8{
    left: 2%;
    bottom: 119%;
    font-family: avenir;
    font-weight: bold;
    font-size: 480%;
    color: #292e6e;
}
.content-seventh-facebook-first {
    position: absolute !important;
    top: 117%;
    left: 24%;
}
.content-seventh-twitter-first {
    position: absolute !important;
    top: 117%;
    left: 30%;
}
.content-seventh-facebook-second {
    position: absolute !important;
    top: 100%;
    left: 49%;
}
.content-seventh-twitter-second {
    position: absolute !important;
    top: 100%;
    left: 53%;
}
@media only screen and (min-device-width: 1920px) {
    #seventh-message-second-image{
        top: 55%;
        left: 38%;
    }
    #seventh-message-third-image{
        top: 24%;
        left: 66%;
    }
    #seventh-message-text-1 {
        font-size: 604%;
        left: 2%;
    }
    #seventh-message-text-2 {
        font-size: 520%;
        left: 26%;
    }
    #seventh-message-text-3 {
        font-size: 707%;
        left: 2%;
    }
    #seventh-message-text-4 {
        font-size: 500%;
        top: 75%;
    }
    #seventh-message-text-5 {
        font-size: 1350%;
        left: 33%;
        bottom: 71%;
    }
    #seventh-message-text-6 {
        font-size: 438%;
        left: 34%;
    }
    #seventh-message-text-7 {
        font-size: 582%;
        left: 35%;
        bottom: 25%;
    }
    #seventh-message-text-8{
        left: 2%;
        font-size: 544%;
    }
    .content-seventh-facebook-first {
        left: 26%;
    }
    .content-seventh-twitter-first {
        left: 31%;
    }
    .content-seventh-facebook-second {
        left: 50%;
        top: 89%;
    }
    .content-seventh-twitter-second {
        left: 53%;
        width: 0 !important;
        top: 89%;
    }
}
@media only screen and (max-device-width: 768px){
    #seventh-message-background-first-image {
        padding-top: 35%;
        margin-left: 25%;
        margin-top: 40%;
        background-size: 77% 100%;
    }
    #seventh-message-background-second-image {
        margin-left: -11%;
        margin-top: 60%;
        margin-bottom: 29%;
        background-size: 79% 108%;
    }
    #seventh-message-second-image{
        top: 69%;
        left: 50%;
    }
    #seventh-message-third-image{
        top: 8%;
        left: 63%;
    }
    #seventh-message-text-1 {
        font-size: 387%;
        left: 2%;
    }
    #seventh-message-text-2 {
        font-size: 366%;
        left: 29%;
    }
    #seventh-message-text-3 {
        font-size: 440%;
        left: 2%;
    }
    #seventh-message-text-4 {
        font-size: 320%;
        bottom: 3%;
    }
    #seventh-message-text-5 {
        font-size: 950%;
        left: 35%;
        bottom: 71%;
    }
    #seventh-message-text-6 {
        font-size: 228%;
        left: 37%;
    }
    #seventh-message-text-7 {
        font-size: 277%;
        left: 38%;
        bottom: 21%;
    }
    .content-seventh-facebook-first {
        left: 28%;
    }
    .content-seventh-twitter-first {
        left: 38%;
    }
    .content-seventh-facebook-second {
        left: 52%;
    }
    .content-seventh-twitter-second {
        left: 59%;
        width: 0 !important;
    }
}
@media only screen and (max-device-width : 435px) {
    #seventh-message-background-first-image {
        padding-top: 45%;
        margin-left: 22%;
        background-size: 74% 100%;
    }
    #seventh-message-background-second-image {
        margin-left: -11%;
        background-size: 76% 108%;
    }
    #seventh-message-second-image{
        top: 69%;
        left: 50%;
    }
    #seventh-message-third-image{
        top: 24%;
        left: 63%;
    }
    #seventh-message-text-1 {
        left: 0%;
        bottom: 101%;
        font-size: 241%;
    }
    #seventh-message-text-2 {
        left: 29%;
        bottom: 81%;
        font-size: 212%;
    }
    #seventh-message-text-3 {
        left: 0%;
        bottom: 27%;
        font-size: 269%;
    }
    #seventh-message-text-4 {
        left: 1%;
        bottom: 3%;
        font-size: 186%;
    }
    #seventh-message-text-5 {
        left: 32%;
        bottom: 74%;
        font-size: 680%;
    }
    #seventh-message-text-6 {
        left: 35%;
        bottom: 64%;
        font-size: 132%;
    }
    #seventh-message-text-7 {
        left: 36%;
        bottom: 19%;
        font-size: 191%;
    }
    .content-seventh-facebook-first {
        left: 22%;
    }
    .content-seventh-twitter-first {
        left: 38%;
    }
    .content-seventh-facebook-second {
        top: 139%;
        left: 45%;
    }
    .content-seventh-twitter-second {
        top: 139%;
        left: 55%;
    }
}
@media only screen and (max-device-width : 414px) {
    #seventh-message-background-first-image {
        padding-top: 33%;
        margin-left: 25%;
        background-size: 81% 100%;
    }
    #seventh-message-background-second-image {
        margin-left: -7%;
        background-size: 79% 106%;
    }
    #seventh-message-second-image{
        top: 67%;
        left: 54%;
    }
    #seventh-message-third-image{
        top: 24%;
        left: 63%;
    }
    #seventh-message-text-1 {
        left: 3%;
        bottom: 101%;
        font-size: 205%;
    }
    #seventh-message-text-2 {
        left: 29%;
        bottom: 81%;
        font-size: 204%;
    }
    #seventh-message-text-3 {
        left: 2%;
        bottom: 25%;
        font-size: 248%;
    }
    #seventh-message-text-4 {
        left: 1%;
        bottom: 3%;
        font-size: 170%;
    }
    #seventh-message-text-5 {
        left: 34%;
        bottom: 74%;
        font-size: 610%;
    }
    #seventh-message-text-6 {
        left: 37%;
        bottom: 64%;
        font-size: 120%;
    }
    #seventh-message-text-7 {
        left: 38%;
        bottom: 21%;
        font-size: 150%;
    }
    #seventh-message-text-8{
        left: 1%;
        font-size: 282%;
    }
    .content-seventh-facebook-second {
        top: 139%;
        left: 46%;
    }
    .content-seventh-twitter-second {
        top: 139%;
        left: 57%;
    }
}
@media only screen and (max-device-width : 411px) {
    #seventh-message-background-first-image {
        padding-top: 45%;
        margin-left: 22%;
        background-size: 74% 100%;
    }
    #seventh-message-background-second-image {
        margin-left: -11%;
        background-size: 76% 108%;
    }
    #seventh-message-second-image{
        top: 69%;
        left: 50%;
    }
    #seventh-message-third-image{
        top: 24%;
        left: 63%;
    }
    #seventh-message-text-1 {
        left: 0%;
        bottom: 101%;
        font-size: 227%;
    }
    #seventh-message-text-2 {
        left: 29%;
        bottom: 81%;
        font-size: 204%;
    }
    #seventh-message-text-3 {
        left: 0%;
        bottom: 26%;
        font-size: 255%;
    }
    #seventh-message-text-4 {
        left: 1%;
        bottom: 3%;
        font-size: 178%;
    }
    #seventh-message-text-5 {
        left: 32%;
        bottom: 74%;
        font-size: 610%;
    }
    #seventh-message-text-6 {
        left: 36%;
        bottom: 64%;
        font-size: 120%;
    }
    #seventh-message-text-7 {
        left: 36%;
        bottom: 20%;
        font-size: 176%;
    }
    #seventh-message-text-8{
        left: 2%;
        bottom: 119%;
        font-family: avenir;
        font-weight: bold;
        font-size: 480%;
        color: #292e6e;
    }
    .content-seventh-facebook-first {
        left: 22%;
    }
    .content-seventh-twitter-first {
        left: 38%;
    }
    .content-seventh-facebook-second {
        top: 139%;
        left: 45%;
    }
    .content-seventh-twitter-second {
        top: 139%;
        left: 55%;
    }
}
@media only screen and (max-device-width : 375px) {
    #seventh-message-background-first-image {
        padding-top: 37%;
        margin-left: 24%;
        background-size: 83% 100%;
    }
    #seventh-message-background-second-image {
        margin-left: -6%;
        background-size: 79% 108%;
    }
    #seventh-message-second-image{
        top: 69%;
        left: 56%;
    }
    #seventh-message-third-image{
        top: 24%;
        left: 63%;
    }
    #seventh-message-text-1 {
        left: 2%;
        bottom: 101%;
        font-size: 190%;
    }
    #seventh-message-text-2 {
        left: 35%;
        bottom: 81%;
        font-size: 156%;
    }
    #seventh-message-text-3 {
        left: 1%;
        bottom: 29%;
        font-size: 233%;
    }
    #seventh-message-text-4 {
        left: 1%;
        bottom: 3%;
        font-size: 161%;
    }
    #seventh-message-text-5 {
        left: 34%;
        bottom: 74%;
        font-size: 630%;
    }
    #seventh-message-text-6 {
        left: 37%;
        bottom: 68%;
        font-size: 106%;
    }
    #seventh-message-text-7 {
        left: 38%;
        bottom: 22%;
        font-size: 133%;
    }
    #seventh-message-text-8{
        left: 1%;
        font-size: 265%;
    }
    .content-seventh-facebook-first {
        left: 23%;
    }
    .content-seventh-twitter-first {
        left: 41%;
    }
    .content-seventh-facebook-second {
        left: 44%;
    }
    .content-seventh-twitter-second {
        left: 57%;
    }
}
@media only screen and (max-device-width : 360px) {
    #seventh-message-background-first-image {
        padding-top: 37%;
        margin-left: 24%;
        background-size: 76% 100%;
    }
    #seventh-message-background-second-image {
        margin-left: -8%;
        background-size: 78% 108%;
    }
    #seventh-message-second-image{
        top: 69%;
        left: 50%;
    }
    #seventh-message-third-image{
        top: 24%;
        left: 63%;
    }
    #seventh-message-text-1 {
        left: 0%;
        bottom: 101%;
        font-size: 185%;
    }
    #seventh-message-text-2 {
        left: 29%;
        bottom: 81%;
        font-size: 172%;
    }
    #seventh-message-text-3 {
        bottom: 32%;
        font-size: 212%;
    }
    #seventh-message-text-4 {
        left: 1%;
        bottom: 3%;
        font-size: 143%;
    }
    #seventh-message-text-5 {
        left: 34%;
        bottom: 74%;
        font-size: 550%;
    }
    #seventh-message-text-6 {
        left: 36%;
        bottom: 69%;
        font-size: 95%;
    }
    #seventh-message-text-7 {
        left: 37%;
        bottom: 26%;
        font-size: 123%;
    }
    #seventh-message-text-8{
        left: -1%;
        font-size: 226%;
    }
    .content-seventh-facebook-second {
        top: 139%;
        left: 43%;
    }
    .content-seventh-twitter-second {
        top: 139%;
        left: 55%;
    }
}
@media only screen and (max-device-width : 320px) {
    #seventh-message-background-first-image {
        padding-top: 38%;
        margin-left: 22%;
        background-size: 88% 100%;
    }
    #seventh-message-background-second-image {
        margin-left: -6%;
        background-size: 79% 108%;
    }
    #seventh-message-second-image{
        top: 69%;
        left: 59%;
    }
    #seventh-message-third-image{
        top: 24%;
        left: 63%;
    }
    #seventh-message-text-1 {
        left: 2%;
        bottom: 101%;
        font-size: 178%;
    }
    #seventh-message-text-2 {
        left: 35%;
        bottom: 81%;
        font-size: 156%;
    }
    #seventh-message-text-3 {
        left: 1%;
        bottom: 29%;
        font-size: 215%;
    }
    #seventh-message-text-4 {
        left: 1%;
        bottom: 3%;
        font-size: 151%;
    }
    #seventh-message-text-5 {
        left: 34%;
        bottom: 74%;
        font-size: 550%;
    }
    #seventh-message-text-6 {
        left: 37%;
        bottom: 65%;
        font-size: 92%;
    }
    #seventh-message-text-7 {
        left: 38%;
        bottom: 20%;
        font-size: 116%;
    }
    #seventh-message-text-8{
        left: 1%;
        font-size: 249%;
    }
    .content-seventh-facebook-first {
        left: 21%;
    }
    .content-seventh-twitter-first {
        left: 41%;
    }
    .content-seventh-facebook-second {
        left: 41%;
    }
    .content-seventh-twitter-second {
        left: 56%;
    }
}