#sixth-message-background-first {
    position: relative;
    padding-top: 54%;
    margin-top: 3%;
    margin-left: 30%;
    background-image: url(../images/backgrouind-sixth-message-first.png);
    background-repeat: no-repeat;
    background-size: 68% 100%;
}
#sixth-message-background-second {
    position: relative;
    padding-top: 29%;
    margin-top: 10%;
    margin-left: 31%;
    margin-bottom: 10%;
    background-image: url(../images/backgrouind-sixth-message-second.png);
    background-repeat: no-repeat;
    background-size: 68% 100%;
}
#sixth-message-second-image{
    top: 54%;
    padding-top: 12%;
    width: 58%;
    background-image: url(../images/bottom-arrow.png);
    background-repeat: no-repeat;
    background-size: 102% 78%;
    left: 5%;
}
#sixth-message-third-image{
    padding-top: 11%;
    width: 15%;
    bottom: 67%;
    background-image: url(../images/right-arrow.png);
    background-repeat: no-repeat;
    background-size: 85% 100%;
    left: 50%;
}
#sixth-message-text-1 {
    left: 11%;
    bottom: 77%;
    font-weight: bold;
    font-size: 465%;
    color: #292e6e;
}
#sixth-message-text-2 {
    left: 10%;
    bottom: 20%;
    font-family: avenir;
    font-weight: bold;
    font-size: 519%;
    color: #292e6e;
}
#sixth-message-text-3 {
    left: 10%;
    bottom: 12%;
    font-family: avenir;
    font-weight: bold;
    font-size: 300%;
    color: #292e6e;
}
#sixth-message-text-4 {
    left: 26.8%;
    bottom: 65%;
    font-family: avenir;
    font-size: 210%;
    color: #292e6e;
    line-height: 107%;
}
#sixth-message-text-5 {
    left: 27%;
    bottom: 52%;
    font-family: avenir;
    font-size: 168.6%;
    color: #292e6e;
}
#sixth-message-text-6 {
    left: 26%;
    bottom: 32%;
    font-family: 'avenir';
    font-size: 428%;
    color: #292e6e;
}
#sixth-message-text-7 {
    left: 26%;
    bottom: 24%;
    font-family: avenir;
    font-size: 236%;
    color: #292e6e;
}
#sixth-message-text-8 {
    left: 26%;
    bottom: 0%;
    font-family: 'avenir';
    font-size: 557%;
    color: #292e6e;
}
#sixth-message-text-9 {
    font-family: avenir;
    font-size: 1.7em;
    bottom: 73%;
}
.content-sixth-facebook-first {
    position: absolute !important;
    top: 92%;
    left: 26%;
}
.content-sixth-twitter-first {
    position: absolute !important;
    top: 92%;
    left: 33%;
}
.content-sixth-facebook-second {
    position: absolute !important;
    top: 105%;
    left: 24%;
}
.content-sixth-twitter-second {
    position: absolute !important;
    top: 105%;
    left: 31%;
}
@media only screen and (min-device-width: 1920px) {
    #sixth-message-background-first {
        margin-top: 40%;
    }
    #sixth-message-third-image{
        bottom: 53%;
        left: 49%;
        padding-top: 19%;
        background-size: 117% 126%;
    }
    #sixth-message-text-1 {
        font-size: 526%;
    }
    #sixth-message-text-2 {
        font-size: 718%;
    }
    #sixth-message-text-3 {
        font-size: 423%;
    }
    #sixth-message-text-4 {
        font-size: 291%;
        top: 12%;
        left: 27%;
    }
    #sixth-message-text-5 {
        font-size: 219%;
        left: 27%;
        top: 39.5%;
    }
    #sixth-message-text-6 {
        font-size: 551%;
        left: 26.7%;
        bottom: 33%;
    }
    #sixth-message-text-7 {
        font-size: 306%;
        left: 27.5%;
        bottom: 26%;
    }
    #sixth-message-text-8 {
        font-size: 665%;
        left: 27%;
        top: 73%;
    }
    .content-sixth-facebook-first {
        top: 92%;
        left: 30%;
    }
    .content-sixth-twitter-first {
        top: 92%;
        left: 35%;
    }
    .content-sixth-facebook-second {
        left: 26%;
    }
    .content-sixth-twitter-second {
        left: 31%;
    }
}
@media only screen and (max-device-width: 768px){
    #sixth-message-background-first {
        margin-top: 40%;
    }
    #sixth-message-background-second {
        padding-top: 51%;
        margin-top: 31%;
        margin-left: 12%;
        margin-bottom: 10%;
        background-size: 94% 100%;
    }
    #sixth-message-third-image{
        bottom: 64%;
        left: 68%;
        padding-top: 19%;
        background-size: 117% 126%;
    }
    #sixth-message-text-1 {
        font-size: 330%;
    }
    #sixth-message-text-2 {
        font-size: 267%;
    }
    #sixth-message-text-3 {
        font-size: 162%;
    }
    #sixth-message-text-4 {
        font-size: 209%;
        top: 11%;
        left: 37%;
    }
    #sixth-message-text-5 {
        font-size: 145%;
        left: 37%;
        top: 39%;
    }
    #sixth-message-text-6 {
        font-size: 402%;
        left: 37%;
        bottom: 33%;
    }
    #sixth-message-text-7 {
        font-size: 205%;
        left: 37%;
        bottom: 26%;
    }
    #sixth-message-text-8 {
        font-size: 451%;
        left: 37%;
        top: 73%;
    }
    .content-sixth-facebook-first {
        top: 98%;
        left: 24%;
    }
    .content-sixth-twitter-first {
        top: 98%;
        left: 33%;
    }
    .content-sixth-facebook-second {
        left: 37%;
    }
    .content-sixth-twitter-second {
        left: 44%;
    }
}
@media only screen and (max-device-width : 435px) {
    #sixth-message-background-first {
        margin-top: 1%;
    }
    #sixth-message-background-second {
        padding-top: 51%;
        margin-top: 19%;
        margin-left: 12%;
        margin-bottom: 10%;
        background-size: 94% 100%;
    }
    #sixth-message-third-image{
        bottom: 66%;
        left: 56%;
        padding-top: 19%;
        background-size: 117% 126%;
    }
    #sixth-message-text-1 {
        font-size: 234%;
    }
    #sixth-message-text-2 {
        font-size: 151% ;
    }
    #sixth-message-text-3 {
        font-size: 92%;
    }
    #sixth-message-text-4 {
        font-size: 120%;
        top: 7%;
        left: 37%;
    }
    #sixth-message-text-5 {
        font-size: 86%;
        left: 37%;
        top: 40%;
    }
    #sixth-message-text-6 {
        font-size: 212%;
        left: 37%;
        bottom: 34%;
    }
    #sixth-message-text-7 {
        font-size: 114%;
        left: 37%;
        bottom: 26%;
    }
    #sixth-message-text-8 {
        font-size: 273%;
        left: 37%;
        top: 75%;
    }
    .content-sixth-facebook-first {
        top: 98%;
        left: 15%;
    }
    .content-sixth-twitter-first {
        top: 98%;
        left: 33%;
    }
    .content-sixth-facebook-second {
        left: 31%;
    }
    .content-sixth-twitter-second {
        left: 44%;
    }
}
@media only screen and (max-device-width : 414px) {
    #sixth-message-background-first{
        background-size: 76% 100%;
        margin-left: 29%;
    }
    #sixth-message-background-second {
        padding-top: 51%;
        margin-top: 19%;
        margin-left: 12%;
        margin-bottom: 10%;
        background-size: 94% 100%;
    }
    #sixth-message-second-image{
        width: 65%;
    }
    #sixth-message-third-image{
        bottom: 64%;
        left: 68%;
        padding-top: 19%;
        background-size: 117% 126%;
    }
    #sixth-message-text-1 {
        font-size: 227%;
    }
    #sixth-message-text-2 {
        font-size: 180%;
    }
    #sixth-message-text-3 {
        font-size: 100%;
        bottom: 12%;
        left: 13%;
    }
    #sixth-message-text-4 {
        font-size: 113%;
        top: 12%;
        left: 37%;
    }
    #sixth-message-text-5 {
        font-size: 86%;
        left: 37%;
        top: 40%;
    }
    #sixth-message-text-6 {
        font-size: 212%;
        left: 37%;
    }
    #sixth-message-text-7 {
        font-size: 109%;
        left: 37%;
    }
    #sixth-message-text-8 {
        font-size: 239%;
        left: 37%;
        top: 74%;
    }
    .content-sixth-facebook-first {
        top: 98%;
        left: 16%;
    }
    .content-sixth-twitter-first {
        top: 98%;
        left: 35%;
    }
    .content-sixth-facebook-second {
        left: 33%;
    }
    .content-sixth-twitter-second {
        left: 48%;
    }
}
@media only screen and (max-device-width : 411px) {
    #sixth-message-background-first {
        margin-top: 1%;
    }
    #sixth-message-background-second {
        padding-top: 51%;
        margin-top: 19%;
        margin-left: 12%;
        margin-bottom: 10%;
        background-size: 94% 100%;
    }
    #sixth-message-third-image{
        bottom: 66%;
        left: 56%;
        padding-top: 19%;
        background-size: 117% 126%;
    }
    #sixth-message-text-1 {
        font-size: 213%;
    }
    #sixth-message-text-2 {
        font-size: 148%;
    }
    #sixth-message-text-3 {
        font-size: 90%;
    }
    #sixth-message-text-4 {
        font-size: 113% ;
        top: 7%;
        left: 37%;
    }
    #sixth-message-text-5 {
        font-size: 86%;
        left: 37%;
        top: 40%;
    }
    #sixth-message-text-6 {
        font-size: 212%;
        left: 37%;
    }
    #sixth-message-text-7 {
        font-size: 109%;
        left: 37%;
    }
    #sixth-message-text-8 {
        font-size: 239%;
        left: 37%;
        top: 74%;
    }
    .content-sixth-facebook-first {
        top: 98%;
        left: 15%;
    }
    .content-sixth-twitter-first {
        top: 98%;
        left: 33%;
    }
    .content-sixth-facebook-second {
        left: 31%;
    }
    .content-sixth-twitter-second {
        left: 44%;
    }
}
@media only screen and (max-device-width : 375px) {
    #sixth-message-background-second {
        padding-top: 51%;
        margin-top: 19%;
        margin-left: 12%;
        margin-bottom: 10%;
        background-size: 94% 100%;
    }
    #sixth-message-third-image{
        bottom: 61%;
        left: 68%;
        padding-top: 19%;
        background-size: 117% 126%;
    }
    #sixth-message-text-1 {
        font-size: 181%;
    }
    #sixth-message-text-2 {
        font-size: 151%;
    }
    #sixth-message-text-3 {
        font-size: 79%;
    }
    #sixth-message-text-4 {
        font-size: 100%;
        top: 13%;
        left: 37%;
    }
    #sixth-message-text-5 {
        font-size: 86%;
        left: 37%;
        top: 40%;
    }
    #sixth-message-text-6 {
        font-size: 212%;
        left: 37%;
    }
    #sixth-message-text-7 {
        font-size: 109%;
        left: 37%;
    }
    #sixth-message-text-8 {
        font-size: 239%;
        left: 37%;
        top: 74%;
    }
    .content-sixth-facebook-second {
        left: 33%;
    }
    .content-sixth-twitter-second {
        left: 49%;
    }
}
@media only screen and (max-device-width : 360px) {
    #sixth-message-background-first {
        padding-top: 71%;
        margin-left: 23%;
        background-size: 86% 100%;
    }
    #sixth-message-background-second {
        padding-top: 51%;
        margin-top: 19%;
        margin-left: 12%;
        margin-bottom: 10%;
        background-size: 94% 100%;
    }
    #sixth-message-second-image{
        padding-top: 18%;
        width: 76%;
    }
    #sixth-message-third-image{
        bottom: 62%;
        left: 69%;
        padding-top: 19%;
        background-size: 117% 126%;
    }
    #sixth-message-text-1 {
        font-size: 144%;
    }
    #sixth-message-text-2 {
        font-size: 177%;
        left: 12%;
    }
    #sixth-message-text-3 {
        font-size: 104%;
        left: 13%;
        bottom: 12%;
    }
    #sixth-message-text-4 {
        font-size: 100%;
        top: 12%;
        left: 37%;
    }
    #sixth-message-text-5 {
        font-size: 86%;
        left: 37%;
        top: 40%;
    }
    #sixth-message-text-6 {
        font-size: 212%;
        left: 37%;
    }
    #sixth-message-text-7 {
        font-size: 109%;
        left: 37%;
    }
    #sixth-message-text-8 {
        font-size: 239%;
        left: 37%;
        top: 74%;
    }
    .content-sixth-facebook-first {
        top: 98%;
        left: 22%;
    }
    .content-sixth-twitter-first {
        top: 98%;
        left: 42%;
    }
    .content-sixth-facebook-second {
        left: 31%;
    }
    .content-sixth-twitter-second {
        left: 49%;
    }
}
@media only screen and (max-device-width : 320px) {
    #sixth-message-background-first {
        margin-top: -8%;
    }
    #sixth-message-third-image{
        bottom: 63%;
        left: 69%;
    }
    #sixth-message-text-1 {
        left: 11%;
        font-size: 144%;
    }
    #sixth-message-text-2 {
        font-size: 124%;
    }
    #sixth-message-text-3 {
        font-size: 76%;
    }
    #sixth-message-text-4 {
        font-size: 92%;
        top: 12%;
    }
    #sixth-message-text-5 {
        font-size: 63%;
    }
    #sixth-message-text-6 {
        font-size: 160%;
        top: 48%;
    }
    #sixth-message-text-7 {
        font-size: 83%;
    }
    #sixth-message-text-8 {
        font-size: 185%;
        top: 74%;
    }
    .content-sixth-facebook-second {
        top: 100%;
    }
    .content-sixth-twitter-second {
        top: 100%;
    }
}