#third-message-first-background {
    position: relative;
    width: 47%;
    padding-top: 25%;
    background-image: url(../images/background-third-message-first.png);
    background-repeat: no-repeat;
    background-size: 98% 128%;
    margin-left: 39%;
}
#third-message-second-background {
    position: relative;
    width: 47%;
    padding-top: 25%;
    background-image: url(../images/background-third-message-second.png);
    background-repeat: no-repeat;
    background-size: 76% 128%;
    margin-left: 45%;
    margin-top: 13%;
}
#third-message-second-image {
    width: 75%;
    padding-top: 60%;
    background-image: url(../images/trash-bottles.png);
    background-repeat: no-repeat;
    background-size: 100% 95%;
    top: -7%;
    right: 85%;
}
#third-message-text-1{
    line-height: 122%;
    left: 3%;
    bottom: 66%;
    font-weight: bold;
    font-family: avenir;
    font-size: 253%;
    color: #292e6e;
}
#third-message-text-2{
    width: 84%;
    left: 3%;
    bottom: 20%;
    font-weight: 900;
    font-size: 187%;
    font-family: avenir;
    color: #292e6e;
    line-height: 156%;
}
#third-message-text-3{
    left: -2%;
    bottom: 101%;
    font-weight: bold;
    font-family: avenir;
    font-size: 399%;
    color: #292e6e;
}
#third-message-text-4{
    left: 5%;
    bottom: 59.8%;
    font-family: avenir;
    font-size: 720%;
    color: #292e6e;
}
#third-message-text-5{
    left: 2%;
    bottom: 27%;
    font-weight: bold;
    font-family: 'avenir';
    font-size: 217%;
    color: #292e6e;
    line-height: 94%;
}
#message-count-days{
    font-size: 295%;
}
#message-count-hours{
    font-size: 224%;
}
#message-count-minutes{
    font-size: 155%;
}
.content-third-facebook-first {
    position: absolute !important;
    top: 93%;
    left: 20%;
}
.content-third-twitter-first {
    position: absolute !important;
    top: 93%;
    left: 30%;
}
.content-third-facebook-second{
    position: absolute !important;
    top: 86%;
    left: 8%;
}
.content-third-twitter-second{
    position: absolute !important;
    top: 86%;
    left: 17%;
}
@media only screen and (min-device-width: 1920px) {
    #third-message-first-background {
        padding-top: 37%;
        background-size: 124% 128%;
        margin-left: 37%;
        margin-top: 14%;
    }
    #third-message-second-image {
        width: 75%;
        padding-top: 60%;
        background-size: 90% 81%;
        top: 16%;
        left: -55%;
    }
    #third-message-text-1{
        font-size: 389%;
        bottom: 66%;
        line-height: 129%;
        left: 9%;
    }
    #third-message-text-2{
        font-size: 187%;
        bottom: 41%;
        line-height: 214%;
        left: 9%;
    }
    #third-message-text-3{
        font-size: 579%;
        bottom: 99%;
    }
    #third-message-text-4{
        font-size: 770%;
        bottom: 65%;
    }
    #third-message-text-5{
        font-size: 277%;
        bottom: 32%;
    }
    .content-third-facebook-first {
        top: 65%;
        left: 25%;
    }
    .content-third-twitter-first {
        top: 65%;
        left: 33%;
    }
    .content-third-facebook-second{
        top: 102%;
        left: 9%;
    }
    .content-third-twitter-second{
        top: 102%;
        left: 17%;
    }
}
@media only screen and (max-device-width: 768px){
    #third-message-first-background {
        padding-top: 37%;
        background-size: 124% 128%;
        margin-left: 37%;
        margin-top: 14%;
    }
    #third-message-second-image {
        width: 75%;
        padding-top: 60%;
        background-size: 90% 81%;
        top: 19%;
        left: -64%;
    }
    #third-message-text-1{
        font-size: 186%;
    }
    #third-message-text-2{
        font-size: 136%;
        bottom: 21%;
        line-height: 224%;
    }
    #third-message-text-3{
        font-size: 242%;
    }
    #third-message-text-4{
        font-size: 341%;
        bottom: 64%;
    }
    #third-message-text-5{
        font-size: 148%;
        bottom: 8%;
    }
    .content-third-facebook-first {
        top: 90%;
        left: 19%;
    }
    .content-third-twitter-first {
        top: 90%;
        left: 37%;
    }
    .content-third-facebook-second{
        top: 102%;
        left: 4%;
    }
    .content-third-twitter-second{
        top: 102%;
        left: 22%;
    }
}
@media only screen and (max-device-width : 480px) {
    #third-message-text-1{
        bottom: 65%;
        font-size: 45%;
    }
    #third-message-text-2{
        bottom: 19%;
        font-size: 64%;
    }
    #third-message-text-3{
        bottom: 77%;
        font-size: 70%;
    }
    #third-message-text-4{
        bottom: 56%;
        font-size: 96%;
    }
    #third-message-text-5{
        bottom: 37%;
        font-size: 50%;
    }
    .content-third-facebook-first {
        top: 90%;
    }
    .content-third-twitter-first {
        top: 90%;
    }
}
@media only screen and (max-device-width: 414px) {
    #third-message-first-background {
        width: 47%;
        padding-top: 33%;
        background-size: 119% 128%;
        margin-left: 41%;
    }
    #third-message-second-background {
        width: 47%;
        padding-top: 25%;
        background-size: 91% 128%;
        margin-left: 47%;
        margin-top: 13%;
    }
    #third-message-second-image {
        width: 100%;
        padding-top: 69%;
        background-size: 90% 92%;
        left: -80%;
    }
    #message-count-days {
        font-size: 295%;
    }
    #message-count-hours {
        font-size: 224%;
    }
    #message-count-minutes {
        font-size: 155%;
    }
    #third-message-text-1 {
        font-size: 112%;
        left: -6%;
        bottom: 65%;
    }
    #third-message-text-2 {
        font-size: 77%;
        top: 48%;
        left: -7%;
        width: 125%;
        line-height: 228%;
    }
    #third-message-text-3 {
        font-size: 146%;
        bottom: 100%;
    }
    #third-message-text-4 {
        font-size: 240%;
    }
    #third-message-text-5 {
        font-size: 87%;
        bottom: 2%;
    }
    .content-third-facebook-first {
        top: 122%;
        left: -2%;
    }
    .content-third-twitter-first {
        top: 122%;
        left: 31%;
    }
    .content-third-facebook-second{
        top: 130%;
        left: -15%;
    }
    .content-third-twitter-second{
        top: 130%;
        left: 18%;
    }
}
@media only screen and (max-device-width: 375px){
    #third-message-first-background {
        width: 47%;
        padding-top: 33%;
        background-size: 132% 128%;
        margin-left: 36%;
    }
    #third-message-second-background {
        width: 47%;
        padding-top: 25%;
        background-size: 87% 128%;
        margin-left: 44%;
        margin-top: 13%;
    }
    #third-message-second-image {
        width: 100%;
        padding-top: 69%;
        background-size: 80% 80%;
        left: -72%;
    }
    #message-count-days {
        font-size: 295%;
    }
    #message-count-hours {
        font-size: 224%;
    }
    #message-count-minutes {
        font-size: 155%;
    }
    #third-message-text-1 {
        font-size: 104%;
        left: -2%;
        bottom: 65%;
    }
    #third-message-text-2 {
        font-size: 72%;
        top: 47%;
        left: -2%;
        width: 125%;
    }
    #third-message-text-3 {
        font-size: 146%;
        bottom: 102%;
    }
    #third-message-text-4 {
        font-size: 222%;
        bottom: 57%;
    }
    #third-message-text-5 {
        font-size: 82%;
        bottom: 2%;
        width: 100%;
    }
    .content-third-facebook-first {
        top: 124%;
        left: 3%;
    }
    .content-third-twitter-first {
        top: 126%;
        left: 40%;
    }
    .content-third-facebook-second{
        top: 130%;
        left: -13%;
    }
    .content-third-twitter-second{
        top: 130%;
        left: 25%;
    }
}
@media only screen and (max-device-width: 360px) {
    #third-message-first-background {
        width: 54%;
        padding-top: 33%;
        background-size: 126% 153%;
        margin-left: 37%;
    }
    #third-message-second-background {
        background-size: 124% 175%;
        margin-left: 41%;
        margin-top: 13%;
    }
    #third-message-second-image {
        width: 100%;
        padding-top: 69%;
        background-size: 82% 88%;
        left: -76%;
        top: 15%;
    }
    #message-count-days {
        font-size: 295%;
    }
    #message-count-hours {
        font-size: 224%;
    }
    #message-count-minutes {
        font-size: 155%;
    }
    #third-message-text-1 {
        font-size: 112%;
        left: -2%;
        bottom: 59%;
    }
    #third-message-text-2 {
        font-size: 77%;
        top: 54%;
        left: -3%;
        width: 125%;
        line-height: 202%;
    }
    #third-message-text-3 {
        font-size: 138%;
        bottom: 103%;
    }
    #third-message-text-4 {
        font-size: 240%;
        bottom: 45%;
    }
    #third-message-text-5 {
        font-size: 77%;
        bottom: -13%;
    }
    .content-third-facebook-first {
        top: 138%;
        left: 2%;
    }
    .content-third-twitter-first {
        top: 138%;
        left: 32%;
    }
    .content-third-facebook-second{
        top: 132%;
        left: -9%;
    }
    .content-third-twitter-second{
        top: 132%;
        left: 25%;
    }
}
@media only screen and (max-device-width : 320px) {
    #third-message-text-1{
        bottom: 59%;
        font-size: 96%;
    }
    #third-message-text-2{
        bottom: 19%;
        left: -2%;
        font-size: 58%;
        width: 125%;
    }
    #third-message-text-3{
        bottom: 102%;
        font-size: 123%;
    }
    #third-message-text-4{
        bottom: 45%;
        font-size: 215%;
        left: 11%;
    }
    #third-message-text-5{
        bottom: -16%;
        font-size: 70%;
        width: 100%;
    }
    .content-third-facebook-first {
        top: 122%;
        left: 1%;
    }
    .content-third-twitter-first {
        top: 122%;
        left: 34%;
    }
}