<div class="row-fluid background-main">
    <div class="section" id="section1" ng-mouseover="vm.getSectionNumberBySectionId('1')" >
        <div class="row no-margin-right">
            <div class="text-center">
                <label id="count-messages">{{vm.sectionNumber}}</label>
                <img id="scroll-down-arrow" src="../../images/scroll-down-arrow.png" />
            </div>
            <div class="col-md-6 col-md-offset-3 background-position">
                <div id="first-message-first-image"
                     class="not-visible"
                     when-not-visible="vm.animateFadeInDownElementOut"
                     when-visible="vm.animateFadeInDownElementIn">
                    <span class="title-first-message left-first-message-title-2">Actualmente</span>
                    <strong class="content-first-message-1 first-message-text-1 left-first-message-2 animated infinite pulse">8 millones</strong><br>
                    <strong class="color-title-message">
                        <span class="content-first-message-1 first-message-text-2 left-first-message-2">de toneladas de plástico<br></span>
                    </strong>
                    <strong>
                        <span class="content-first-message-1 first-message-text-3 left-first-message-2">van directamente al </span><br>
                    </strong>
                    <h1 class="content-first-message-1 first-message-text-4 left-first-message-2"><strong>OCÉANO</strong></h1>
                    <div id="first-message-second-image"
                         class="content-first-message-3 not-visible"
                         when-not-visible="vm.animatePulseElementOut"
                         when-visible="vm.animatePulseElementIn">
                        <h3 class="content-first-message-2 first-message-text-5 left-first-message-3">¡CADA</h3>
                        <h3 class="content-first-message-2 first-message-text-6 left-first-message-4">AÑO!</h3>
                    </div>
                    <div class="col-xs-6 content-first-facebook">
                        <a class="btn btn-social-icon btn-facebook not-visible"
                           when-not-visible="vm.animateFadeInRightElementOut"
                           when-visible="vm.animateFadeInRightElementIn"
                           href="#/user"
                           socialshare
                           socialshare-url="https://marviva-staging.herokuapp.com"
                           socialshare-type="feed"
                           socialshare-provider="facebook"
                           socialshare-text="#ChaoPlásticoDesechable"
                           socialshare-description={{vm.firstMessage}}
                           socialshare-via="518605611659265">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </div>
                    <div class="col-xs-6 content-first-twitter">
                        <a class="btn btn-social-icon btn-twitter not-visible"
                           when-not-visible="vm.animateFadeInRightElementOut"
                           when-visible="vm.animateFadeInRightElementIn"
                           socialshare
                           socialshare-provider="twitter"
                           socialshare-text={{vm.firstMessage}}
                           socialshare-hashtags="ChaoPlásticoDesechable"
                           socialshare-url="https://marviva-staging.herokuapp.com"
                           socialshare-media="localhost:5000/images/LogoTipoChaoPlastico.png">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section2" ng-mouseover="vm.getSectionNumberBySectionId('2')">
        <div class="row no-margin-right">
            <div class="col-sm-6 col-sm-offset-3">
                <div id="second-message-first-image"
                     class="background-position not-visible"
                     when-not-visible="vm.animateFadeInRightElementOut"
                     when-visible="vm.animateFadeInRightElementIn">
                    <div class="second-message-bottle background-position second-bottle-1 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-2 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-3 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-4 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-5 not-visible "
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-6 not-visible "
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-7 not-visible "
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-8 not-visible "
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-9 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-10 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-11 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-12 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-13 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-14 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-15 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-16 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-17 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-18 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-19 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-20 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-21 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-22 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-23 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle background-position second-bottle-24 not-visible"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <strong class="background-position second-message-text-4">{{vm.userName.toUpperCase()}},</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row no-margin-right">
            <div class="col-md-6">
                <div id="second-message-second-image"
                     class="background-position not-visible"
                     when-not-visible="vm.animateFadeInRightElementOut"
                     when-visible="vm.animateFadeInRightElementIn">
                    <div class="second-message-bottle-incline-1 background-position second-bottle-25 animated infinite swing"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-26 animated infinite swing"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-27 animated infinite swing"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-28  animated infinite swing"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-29 animated infinite swing"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-30 animated infinite swing"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-31 animated infinite swing"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-32 animated infinite swing"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-33 animated infinite swing"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-34 animated infinite swing"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-35 animated infinite swing"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-43 animated infinite swing"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-44 animated infinite swing"
                         when-not-visible="vm.animateFadeInRightElementOut"
                         when-visible="vm.animateFadeInRightElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-61 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-62 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-63 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-64 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-65 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-66 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-67 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-68 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-69 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-70 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-71 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-72 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-73 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-74 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-75 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-76 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-77 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-78 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-79 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-80 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-81 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-82 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-83 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-84 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-85 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-86 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-87 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-88 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-89 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-90 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="second-message-third-image"
                     class="not-visible"
                     when-not-visible="vm.animateFadeInRightElementOut"
                     when-visible="vm.animateFadeInRightForSecondMessageElementIn">
                    <div class="second-message-bottle-incline-1 background-position second-bottle-36 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-37 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-38 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-39 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-40 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-41 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-42 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-45 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-46 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-47 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-48 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-49 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-50 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-51 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-52 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-53 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-54 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-55 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-56 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-57 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-58 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-59 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-60 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-91 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-92 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-93 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-94 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-95 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-96 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-97 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-1 background-position second-bottle-98 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-99 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <div class="second-message-bottle-incline-2 background-position second-bottle-100 animated infinite swing"
                         when-not-visible="vm.animateFadeInDownElementOut"
                         when-visible="vm.animateFadeInDownElementIn">

                    </div>
                    <span class="background-position left-second-message second-message-text-1">
                        A lo largo de tu vida,<br>
                        has utilizado alrededor de
                    </span>
                    <strong>
                        <span class="background-position left-second-message second-message-text-2">
                           {{vm.countPlastic}} millones de toneladas
                        </span><br>
                    </strong>
                    <h1 class="background-position left-second-message second-message-text-3">
                        <strong>
                            de plástico
                        </strong>
                    </h1>
                </div>
            </div>
            <a class="content-second-facebook btn btn-social-icon btn-facebook not-visible"
               when-not-visible="vm.animateFadeInRightElementOut"
               when-visible="vm.animateFadeInRightElementIn"
               href="#/user"
               socialshare
               socialshare-url="https://marviva-staging.herokuapp.com"
               socialshare-type="feed"
               socialshare-provider="facebook"
               socialshare-text="#ChaoPlásticoDesechable"
               socialshare-description={{vm.fourthMessage}}
               socialshare-via="518605611659265">
                <span class="fa fa-facebook"></span>
            </a>
            <a class="content-second-twitter btn btn-social-icon btn-twitter not-visible"
               when-not-visible="vm.animateFadeInRightElementOut"
               when-visible="vm.animateFadeInRightElementIn"
               socialshare
               socialshare-provider="twitter"
               socialshare-text={{vm.fourthMessage}}
               socialshare-hashtags="ChaoPlásticoDesechable"
               socialshare-url="https://marviva-staging.herokuapp.com">
                <span class="fa fa-twitter"></span>
            </a>
        </div>
    </div>
    <div class="section" id="section3" ng-mouseover="vm.getSectionNumberBySectionId('3')">
        <div class="row no-margin-right">
            <div class="col-md-12">
                <div id="third-message-first-background"
                     class="not-visible"
                     when-not-visible="vm.animateFadeInLeftElementOut"
                     when-visible="vm.animateFadeInLeftForThirdMessageElementIn">
                    <span id="third-message-text-1"
                          class="background-position">
                        Hasta el día de hoy<br>
                        has vivido
                    </span>
                    <strong id="third-message-text-2"
                            class="background-position">
                        <span id="message-count-days" ng-mouseover="vm.eventOnCountDownDays()">{{vm.countDownDay}} días</span><br>
                        <span id="message-count-hours" ng-mouseover="vm.eventOnCountDownHours()">{{vm.countDownHour}} horas</span><br>
                    </strong>
                    <div class="col-xs-6 content-third-facebook-first">
                        <a class="btn btn-social-icon btn-facebook not-visible"
                           when-not-visible="vm.animateFadeInRightElementOut"
                           when-visible="vm.animateFadeInRightElementIn"
                           href="#/user"
                           socialshare
                           socialshare-url="https://marviva-staging.herokuapp.com"
                           socialshare-type="feed"
                           socialshare-provider="facebook"
                           socialshare-text="#ChaoPlásticoDesechable"
                           socialshare-description={{vm.fifthMessageFirst}}
                           socialshare-via="518605611659265">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </div>
                    <div class="col-xs-6 content-third-twitter-first">
                        <a class="btn btn-social-icon btn-twitter not-visible"
                           when-not-visible="vm.animateFadeInRightElementOut"
                           when-visible="vm.animateFadeInRightElementIn"
                           socialshare
                           socialshare-provider="twitter"
                           socialshare-text={{vm.fifthMessageFirst}}
                           socialshare-hashtags="ChaoPlásticoDesechable"
                           socialshare-url="https://marviva-staging.herokuapp.com">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row no-margin-right">
            <div class="col-md-12">
                <div id="third-message-second-background"
                     class="not-visible"
                     when-not-visible="vm.animateFadeInLeftElementOut"
                     when-visible="vm.animateFadeInLeftForThirdMessageElementIn">
                    <div id="third-message-second-image"
                         class="background-position move-right">
                    </div>
                    <span id="third-message-text-3"
                          class="background-position">
                        Lo equivalente a
                    </span>
                    <strong id="third-message-text-4"
                            class="background-position" ng-mouseover="vm.eventOnCountDownTrashes()">
                        {{vm.countDownTrash}}
                    </strong>
                    <span id="third-message-text-5"
                          class="background-position">
                        camiones de basura<br>
                        llenos de plástico desechable
                        porque cada minuto que osa, va a parar al ambiente
                    </span>
                    <div class="col-xs-6 content-third-facebook-second">
                        <a class="btn btn-social-icon btn-facebook not-visible"
                           when-not-visible="vm.animateFadeInRightElementOut"
                           when-visible="vm.animateFadeInRightElementIn"
                           href="#/user"
                           socialshare
                           socialshare-url="https://marviva-staging.herokuapp.com"
                           socialshare-type="feed"
                           socialshare-provider="facebook"
                           socialshare-text="#ChaoPlásticoDesechable"
                           socialshare-description={{vm.fifthMessageSecond}}
                           socialshare-via="518605611659265">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </div>
                    <div class="col-xs-6 content-third-twitter-second">
                        <a class="btn btn-social-icon btn-twitter not-visible"
                           when-not-visible="vm.animateFadeInRightElementOut"
                           when-visible="vm.animateFadeInRightElementIn"
                           socialshare
                           socialshare-provider="twitter"
                           socialshare-text={{vm.fifthMessageSecond}}
                           socialshare-hashtags="ChaoPlásticoDesechable"
                           socialshare-url="https://marviva-staging.herokuapp.com">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section4" ng-mouseover="vm.getSectionNumberBySectionId('4')">
        <div class="row no-margin-right">
            <div id="fourth-message-first-image"
                 class="not-visible"
                 when-not-visible="vm.animateFadeInLeftElementOut"
                 when-visible="vm.animateFadeInLeftElementIn">
                <div id="left-trashtruck-first-image"
                     class="first-trash-truck background-position move-right">
                </div>
                <div id="left-trashtruck-second-image"
                     class="second-trash-truck background-position move-right">
                </div>
                <strong id="fourth-message-text-1"
                        class="background-position old">
                    SI SEGUIMOS ASÍ...<br>
                    Para el 2030, serán
                </strong><br>
                <span id="fourth-message-text-2"
                      class="background-position old">
                    2 camiones de basura por minuto.
                </span>
                <strong id="fourth-message-text-3"
                        class="background-position new">
                    Para el 2050, serán
                </strong><br>
                <span id="fourth-message-text-4"
                      class="background-position new">
                    4 camiones de basura por minuto.
                </span>
                <div class="col-xs-6 content-fourth-facebook">
                    <a class="btn btn-social-icon btn-facebook not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       href="#/user"
                       socialshare
                       socialshare-url="https://marviva-staging.herokuapp.com"
                       socialshare-type="feed"
                       socialshare-provider="facebook"
                       socialshare-text="#ChaoPlásticoDesechable"
                       socialshare-description={{vm.sixthMessage}}
                       socialshare-via="518605611659265">
                        <span class="fa fa-facebook"></span>
                    </a>
                </div>
                <div class="col-xs-6 content-fourth-twitter">
                    <a class="btn btn-social-icon btn-twitter not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       socialshare
                       socialshare-provider="twitter"
                       socialshare-text={{vm.sixthMessage}}
                       socialshare-hashtags="ChaoPlásticoDesechable"
                       socialshare-url="https://marviva-staging.herokuapp.com">
                        <span class="fa fa-twitter"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section5" ng-mouseover="vm.getSectionNumberBySectionId('5')">
        <div class="row no-margin-right">
            <div id="fifth-message-first-background"
                 class="not-visible"
                 when-not-visible="vm.animateFadeInLeftElementOut"
                 when-visible="vm.animateFadeInLeftForFifthMessageElementIn">
                <div class="fifth-message-bottle background-position fifth-bottle-1 not-visible"
                     when-not-visible="vm.animateFadeInRightElementOut"
                     when-visible="vm.animateFadeInRightElementIn">

                </div>
                <div class="fifth-message-bottle background-position fifth-bottle-2 not-visible"
                     when-not-visible="vm.animateFadeInRightElementOut"
                     when-visible="vm.animateFadeInRightElementIn">

                </div>
                <div class="fifth-message-bottle background-position fifth-bottle-3 not-visible"
                     when-not-visible="vm.animateFadeInRightElementOut"
                     when-visible="vm.animateFadeInRightElementIn">

                </div>
                <div class="fifth-message-bottle background-position fifth-bottle-4 not-visible"
                     when-not-visible="vm.animateFadeInRightElementOut"
                     when-visible="vm.animateFadeInRightElementIn">

                </div>
                <strong id="fifth-message-text-1"
                        class="background-position">
                    Cada día,
                </strong>
                <strong id="fifth-message-text-2"
                        class="background-position">
                    120 toneladas
                </strong>
                <strong id="fifth-message-text-3"
                        class="background-position">
                    de plástico se depositan en el<br>
                    MEDIO AMBIENTE
                </strong>
                <div class="col-xs-6 content-fifth-facebook-first">
                    <a class="btn btn-social-icon btn-facebook not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       href="#/user"
                       socialshare
                       socialshare-url="https://marviva-staging.herokuapp.com"
                       socialshare-type="feed"
                       socialshare-provider="facebook"
                       socialshare-text="#ChaoPlásticoDesechable"
                       socialshare-description={{vm.seventhMessageFirst}}
                       socialshare-via="518605611659265">
                        <span class="fa fa-facebook"></span>
                    </a>
                </div>
                <div class="col-xs-6 content-fifth-twitter-first">
                    <a class="btn btn-social-icon btn-twitter not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       socialshare
                       socialshare-provider="twitter"
                       socialshare-text={{vm.seventhMessageFirst}}
                       socialshare-hashtags="ChaoPlásticoDesechable"
                       socialshare-url="https://marviva-staging.herokuapp.com">
                        <span class="fa fa-twitter"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row no-margin-right">
            <div id="fifth-message-second-background"
                 class="not-visible"
                 when-not-visible="vm.animateFadeInLeftElementOut"
                 when-visible="vm.animateFadeInLeftForFifthMessageElementIn">
                <div id="fifth-message-second-image"
                     class="background-position not-visible"
                     when-not-visible="vm.animateFadeInLeftElementOut"
                     when-visible="vm.animateFadeInLeftElementIn">

                </div>
                <strong id="fifth-message-text-4"
                        class="background-position">
                    Lo que es equivalente <br>cada año a
                </strong>
                <strong id="fifth-message-text-5"
                        class="background-position">
                    4745 CAMIONES DE BASURA<br>
                </strong>
                <strong id="fifth-message-text-6"
                        class="background-position">
                    <b>¡LLENOS DE PLÁSTICO!</b>
                </strong>
                <div class="col-xs-6 content-fifth-facebook-second">
                    <a class="btn btn-social-icon btn-facebook not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       href="#/user"
                       socialshare
                       socialshare-url="https://marviva-staging.herokuapp.com"
                       socialshare-type="feed"
                       socialshare-provider="facebook"
                       socialshare-text="#ChaoPlásticoDesechable"
                       socialshare-description={{vm.seventhMessageSecond}}
                       socialshare-via="518605611659265">
                        <span class="fa fa-facebook"></span>
                    </a>
                </div>
                <div class="col-xs-6 content-fifth-twitter-second">
                    <a class="btn btn-social-icon btn-twitter not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       socialshare
                       socialshare-provider="twitter"
                       socialshare-text={{vm.seventhMessageSecond}}
                       socialshare-hashtags="ChaoPlásticoDesechable"
                       socialshare-url="https://marviva-staging.herokuapp.com">
                        <span class="fa fa-twitter"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section6" ng-mouseover="vm.getSectionNumberBySectionId('6')">
        <div class="row no-margin-right">
            <div id="sixth-message-background-first"
                 class="not-visible"
                 when-not-visible="vm.animateFadeInDownElementOut"
                 when-visible="vm.animateFadeInDownElementIn">
                <div id="sixth-message-second-image"
                     class="background-position animated infinite ghost">

                </div>
                <span id="sixth-message-text-1"
                      class="background-position">
                    <strong>{{vm.userName.toUpperCase()}},</strong>
                </span>
                <strong id="sixth-message-text-2"
                        class="background-position">
                    los plásticos
                </strong>
                <span id="sixth-message-text-3"
                      class="background-position">
                    NO SE DEGRADAN
                </span>
                <div class="col-xs-6 content-sixth-facebook-first">
                    <a class="btn btn-social-icon btn-facebook not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       href="#/user"
                       socialshare
                       socialshare-url="https://marviva-staging.herokuapp.com"
                       socialshare-type="feed"
                       socialshare-provider="facebook"
                       socialshare-text="#ChaoPlásticoDesechable"
                       socialshare-description={{vm.eighthMessageFirst}}
                       socialshare-via="518605611659265">
                        <span class="fa fa-facebook"></span>
                    </a>
                </div>
                <div class="col-xs-6 content-sixth-twitter-first">
                    <a class="btn btn-social-icon btn-twitter not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       socialshare
                       socialshare-provider="twitter"
                       socialshare-text={{vm.eighthMessageFirst}}
                       socialshare-hashtags="ChaoPlásticoDesechable"
                       socialshare-url="https://marviva-staging.herokuapp.com">
                        <span class="fa fa-twitter"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row no-margin-right">
            <div id="sixth-message-background-second"
                 class="not-visible"
                 when-not-visible="vm.animateFadeInDownElementOut"
                 when-visible="vm.animateFadeInDownElementIn">
                <div id="sixth-message-third-image"
                     class="background-position animated infinite ghost">

                </div>
                <div id="sixth-message-text-4"
                        class="background-position">
                    <div id="sixth-message-text-9" class="background-position">Te dirán</div><br>
                    son <b>oxodegradables</b> <br>
                    o <b>bioplásticos</b> pero,
                </div>
                <span id="sixth-message-text-5"
                      class="background-position">
                    ES PURA PUBLICIDAD
                </span>
                <strong id="sixth-message-text-6"
                        class="background-position">
                    Expertos
                </strong>
                <span id="sixth-message-text-7"
                      class="background-position">
                    advierten que es
                </span>
                <strong id="sixth-message-text-8"
                        class="background-position">
                    FALSO
                </strong>
                <div class="col-xs-6 content-sixth-facebook-second">
                    <a class="btn btn-social-icon btn-facebook not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       href="#/user"
                       socialshare
                       socialshare-url="https://marviva-staging.herokuapp.com"
                       socialshare-type="feed"
                       socialshare-provider="facebook"
                       socialshare-text="#ChaoPlásticoDesechable"
                       socialshare-description={{vm.eighthMessageSecond}}
                       socialshare-via="518605611659265">
                        <span class="fa fa-facebook"></span>
                    </a>
                </div>
                <div class="col-xs-6 content-sixth-twitter-second">
                    <a class="btn btn-social-icon btn-twitter not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       socialshare
                       socialshare-provider="twitter"
                       socialshare-text={{vm.eighthMessageSecond}}
                       socialshare-hashtags="ChaoPlásticoDesechable"
                       socialshare-url="https://marviva-staging.herokuapp.com">
                        <span class="fa fa-twitter"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section7" ng-mouseover="vm.getSectionNumberBySectionId('7')">
        <div class="row no-margin-right">
            <div id="seventh-message-background-first-image"
                 class="not-visible"
                 when-not-visible="vm.animateFadeInDownElementOut"
                 when-visible="vm.animateFadeInDownElementIn">
                <div id="seventh-message-second-image"
                     class="background-position animated infinite ghost">

                </div>
                <strong id="seventh-message-text-1"
                        class="background-position">
                    en promedio en
                </strong>
                <strong id="seventh-message-text-2"
                        class="background-position">
                    Costa Rica
                </strong>
                <strong id="seventh-message-text-3"
                        class="background-position">
                    cada persona<br>
                    produce entre
                </strong>
                <strong id="seventh-message-text-4"
                        class="background-position">
                    1 y 2 kg de residuos
                </strong>
                <strong id="seventh-message-text-8"
                        class="background-position">
                    Cada día,
                </strong>
                <div class="col-xs-6 content-seventh-facebook-first">
                    <a class="btn btn-social-icon btn-facebook not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       href="#/user"
                       socialshare
                       socialshare-url="https://marviva-staging.herokuapp.com"
                       socialshare-type="feed"
                       socialshare-provider="facebook"
                       socialshare-text="#ChaoPlásticoDesechable"
                       socialshare-description={{vm.ninethMessageFirst}}
                       socialshare-via="518605611659265">
                        <span class="fa fa-facebook"></span>
                    </a>
                </div>
                <div class="col-xs-6 content-seventh-twitter-first">
                    <a class="btn btn-social-icon btn-twitter not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       socialshare
                       socialshare-provider="twitter"
                       socialshare-text={{vm.ninethMessageFirst}}
                       socialshare-hashtags="ChaoPlásticoDesechable"
                       socialshare-url="https://marviva-staging.herokuapp.com">
                        <span class="fa fa-twitter"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row no-margin-right">
            <div id="seventh-message-background-second-image"
                 class="not-visible"
                 when-not-visible="vm.animateFadeInDownElementOut"
                 when-visible="vm.animateFadeInDownElementIn">
                <div id="seventh-message-third-image"
                     class="background-position animated infinite ghost">

                </div>
                <strong id="seventh-message-text-5"
                        class="background-position">
                    17%
                </strong>
                <span id="seventh-message-text-6"
                      class="background-position">
                    Son residuos de algún
                </span>
                <span id="seventh-message-text-7"
                      class="background-position">
                    tipo de plástico
                </span>
                <div class="col-xs-6 content-seventh-facebook-second">
                    <a class="btn btn-social-icon btn-facebook not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       href="#/user"
                       socialshare
                       socialshare-url="https://marviva-staging.herokuapp.com"
                       socialshare-type="feed"
                       socialshare-provider="facebook"
                       socialshare-text="#ChaoPlásticoDesechable"
                       socialshare-description={{vm.ninethMessageSecond}}
                       socialshare-via="518605611659265">
                        <span class="fa fa-facebook"></span>
                    </a>
                </div>
                <div class="col-xs-6 content-seventh-twitter-second">
                    <a class="btn btn-social-icon btn-twitter not-visible"
                       when-not-visible="vm.animateFadeInRightElementOut"
                       when-visible="vm.animateFadeInRightElementIn"
                       socialshare
                       socialshare-provider="twitter"
                       socialshare-text={{vm.ninethMessageSecond}}
                       socialshare-hashtags="ChaoPlásticoDesechable"
                       socialshare-url="https://marviva-staging.herokuapp.com">
                        <span class="fa fa-twitter"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section8" ng-mouseover="vm.getSectionNumberBySectionId('8')">
        <div class="row no-margin-right">
            <div id="eighth-message-first-image"
                 class="not-visible"
                 when-not-visible="vm.animateFadeInDownElementOut"
                 when-visible="vm.animateFadeInDownElementIn">
                <span id="eighth-message-text-1"
                      class="background-position">
                    Entonces, lo que tenés<br>
                    que hacer, es decir
                </span>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4 text-center ">
            <button class="advice-button" id="advice-button" ng-click="vm.viewAdvices()"> ¿QUE HAGO?</button>
        </div>
    </div>
</div>

