<div class="container-fluid register-form">
    <section id="index-section">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <img src="../images/LogotipoChaoPlastico.png" id="register-logo" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
                <form name="newUserForm" class="form-horizontal text-left newUserForm">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label fonts color" for="userName">¿Cómo te llamas?</label>
                        </div>
                        <div class="col-sm-6 ">
                            <input type="text" id="userName" placeholder="Ingrese su nombre" ng-model="vm.newUser.name" required class=" register-input-text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label fonts color" for="userAddress">¿Dónde vivís?</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" id="userAddress" placeholder="Ingresa tu dirección" ng-model="vm.newUser.address" required class="register-input-text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label fonts color" for="userDate">¿Cuándo naciste?</label>
                        </div>
                        <div class="col-sm-6 text-left ">
                            <input type="text" id="userDate" class="register-input-text " ng-click="vm.toggleCalendarPopup()"
                                   placeholder="dd-MM-yyyy" uib-datepicker-popup="dd-MM-yyyy"
                                   ng-model="vm.newUser.date" is-open="vm.calendarPopup.opened"
                                   datepicker-options="vm.dateOptions" ng-required="true" close-text="Cerrar"
                                   current-text="Hoy" clear-text="Borrar" alt-input-formats="altInputFormats"
                                   ui-mask="99-99-9999"
                                   model-view-value="true"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label fonts color" for="userEmail">¿Cuál es tu correo?</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="email" id="userEmail" placeholder="Ingresa tu correo" ng-model="vm.newUser.email" required class="register-input-text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <input type="checkbox"  style="margin-left: 15px" ng-model="vm.newUser.agree" required/>
                            <span class="fonts-terms color">Acepto términos y condiciones</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <button type="summit" class="btn advice-button" ng-click="vm.registerUser()" ng-disabled="newUserForm.$invalid" >INICIAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="col-xs-12">
        <img src="../images/RegisterFooter.png" id="register-footer" />
    </div>
</div>