<div class="row-fluid">

</div>
<div class="row-fluid">
    <div class="background-final">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center" >
                    <img src="../images/logo-pantalla-final.png" id="logoFinal"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-offset-3">
                    <div class="rounded panel panel-default panel-body not-visible" ng-repeat="advice in vm.advices" when-visible="vm.animateElementIn" when-not-visible="vm.animateElementOut">
                        <div>
                            <h3 class="final-text" >{{advice}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-offset-3 text-center">
                    <a class="btn advice-button" href="http://www.marviva.net/index.php/es/"> CONOCER MÁS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="background-final">

    </div>
</div>





